Repository hmcts/prl-cos-api, pull requests merged in 2022-08, with the labels that each got.

#457 FPET-62 changes
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseaccess/AssignCaseAccessRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseaccess/CaseUser.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseaccess/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseaccess/RemoveUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessClient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/CaseRoleClient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/CcdDataStoreService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/CcdDataStoreServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-457

#446 Prl 1417 da serve applicant solicitor
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-446

#464 added code for send access code to applicant
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/RespondentSolicitorEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManager.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseInviteManagerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-464

#422 added respondent name to respondentSolicitorEmail template
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CreateSelectOrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/RespondentSolicitorEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-422

#411 Prl 1536 serveparty applicant accesscode
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeControllerFT.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeControllerTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-411

#496 C100 Rebuild - Added Java POJOs required for JSON conversion
  src/main/java/uk/gov/hmcts/reform/prl/models/c100/rebuild/C100RebuildConfidentiality.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100/rebuild/C100RebuildInternationalElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100/rebuild/C100RebuildReasonableAdjustments.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-496

#486 Feature/citizen data store with serve parties
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/TypeOfOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/ConfidentialityEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseinvite/CaseInvite.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/User.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/DocumentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/UploadedDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/confidentiality/KeepDetailsPrivate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/consent/Consent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/internationalelements/CitizenInternationalElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/miam/Miam.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/CurrentOrPreviousProceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/ProceedingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/Proceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/GenerateAndUploadDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseDetailsConverter.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/utils/CaseDetailsConverterTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-486

#429 FPET-34 C1A & C8 Draft template changes
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-429

#512 Isdb 349 ccd search api integration
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCcdDataStoreService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCcdDataStoreServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestResourceUtil.java
  src/test/resources/request/ccdsearchrequest.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-512

#509 Feature/isdb 351
  build.gradle
  charts/prl-cos/values.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/cafcass/PostcodeLookupConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/cafcass/CafcassAppConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/cafcass/PostcodeValidationException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/AddressDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/PostcodeResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/PostcodeResult.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-509

#515 Add backstage configuration file
  catalog-info.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-515

#502 Feature/prl 1511 courtnav api
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/StatementOfTruth.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/UploadedDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavMetaData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavStmtOfTruth.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/Family.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-502

#520 Courtnav patch
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/FamilyHomeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/LivingSituationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MortgageNamedAfterEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PeopleLivingAtThisAddressEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoBothEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/enums/PreviousOrIntendedResidentAtAddressEnum.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-520

#492 Prl 1216 serve parties post
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-492
