Repository hmcts/prl-cos-api, pull requests merged in 2022-09, with the labels that each got.

#521 Release2.2 tests patch
  build.gradle
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/rpe/ServiceAuthApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/rpe/ServiceAuthConsumerTest.java
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/courtnav-request.json
  src/main/java/uk/gov/hmcts/reform/prl/models/caseinvite/CaseInvite.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/CcdDataStoreServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManagerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-521

#526 Resolved Nightly Build by Surpassing (CVE-2022-25857)
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-526

#531 Added fortify fix
  src/main/java/uk/gov/hmcts/reform/prl/utils/ResourceLoader.java
Labels: ns:private-law, prd:prl, enable_fortify_scan, rel:prl-cos-pr-531

#525 feat: implement create payment functionality(PRLC100-96)
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/payment/PaymentApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerFunctionalTest.java
  src/functionalTest/resources/requests/create-payment-input.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/requests/create-payment-input.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/PaymentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/OnlineCardPaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/PaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-525

#519 updated new field for submitted case
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-519

#544 FPET-154 nightly build fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-544

#558 ISDB-380
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-558

#553 Added functional and integration tests
  charts/prl-cos/values.preview.template.yaml
  pacts/prl_cos_cafcass-ccd_store.json
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cafcass/CafcassApiConsumerCcdSearchCaseApiTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cafcass/CafcassSearchCaseApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/util/TestConstants.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/functionalTest/resources/response/cafcass-search-response.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/response/cafcass-search-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-553

#536 fixed missing header authorisation issue with swagger3
  src/main/java/uk/gov/hmcts/reform/prl/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-536

#560 Isdb 379
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcaas/CafcassDocumentManagementController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-560

#565 ISDB-381
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-565

#539 feat: implement document upload and delete api(PRLC100-93)
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cdam/DocumentDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cdam/DocumentUploadConsumerTest.java
  src/contractTest/resources/Test.pdf
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerFunctionalTest.java
  src/functionalTest/resources/Test.pdf
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/DocumentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DeleteDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-539

#574 Fpet 174 vulnerability fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-574
