Repository hmcts/prl-cos-api, pull requests merged in 2022-04, with the labels that each got.

#308 Prl 1212 solicitor update
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-308

#314 CVE suppressed for release
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-314

#323 updated request update callback service
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-323

#329 R1.1/prl 1102 court email provided
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-329

#321 Prl 1266 return application
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/requests/resubmit-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-321

#338 supressed cvm
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-338

#328 changes related to c8 form generation
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-328
