Repository hmcts/prl-cos-api, pull requests merged in 2022-11, with the labels that each got.

#630 Feature/safeguard letter upload new
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/cafcass/CafcassAppConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-630

#640 ISDB- 434
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassUploadDocumentFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/functionalTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestResourceUtil.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-640

#622 fixed Case Status & Date in summary tab
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-622

#646 CVE_fix
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-646

#650 Unit test fix
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-650

#644 PRL-2444:created new pr with refactored changes
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseNotificationEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseNotificationEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-644

#652 Bundling changes
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/BundleApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocumentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleFolderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Data.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentOther.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/MultiBundleConfig.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/OtherDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Value.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/prl/CosApiSmokeTests.java
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
  src/test/resources/application.yaml
  src/test/resources/requests/input.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-652

#648 PRL100-293 other child details mapping
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherChildrenDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildOtherChildrenDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-648

#616 Prl 2320 welsh changes
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-616

#633 C100 Rebuild - Backend API changes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-in-docker.sh
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/ccd/CcdApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cdam/DocumentDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cdam/DocumentUploadConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/payment/PaymentApiConsumerTest.java
  src/contractTest/resources/Test.pdf
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/Test.pdf
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/create-case-valid-casedata-input.json
  src/functionalTest/resources/requests/create-payment-input.json
  src/functionalTest/resources/responses/create-case-valid-casedata-output.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/IdamTokenGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/ServiceAuthenticationGenerator.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/controller/valid-casedata-input.json
  src/integrationTest/resources/requests/create-payment-input.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/PaymentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/DocumentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/FeeResponseForCitizen.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/OnlineCardPaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/PaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/PaymentStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DeleteDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-633

#656 Bundling demo test
  Jenkinsfile_CNP
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassUploadDocumentFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/BundleApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/cafcass/CafcassAppConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocumentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleFolderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Data.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentOther.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/MultiBundleConfig.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/OtherDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Value.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestResourceUtil.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-656

#626 Prl 2452 replace fact with lrd
  build.gradle
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/LocationRefDataApi.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/ResponseDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApi.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherProceedingsChecker.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-626

#662 Bundling demo test
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-662

#667 ISDB-448
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-667

#671 Feature/case flag dummy demo 11 nov
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-671

#664 SNI-2335: Submit and pay issue : added Exception Handling
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-664

#660 feat: implement reasonable adjustment details mapping (PRLC100-223)
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/DisabilityRequirementEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/SpecialArrangementEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildApplicantDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildChildDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildCourtOrderElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildHearingWithoutNoticeElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildInternationalElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildOtherChildrenDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildOtherProceedingsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildReasonableAdjustmentsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildUrgencyElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/InterpreterNeed.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/WelshNeed.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-660

#675 ISDB-448
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-675

#658 Feature/prlc100 292 other person mapping
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildOtherPersonDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildStatementOfTruthElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildRelationship.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ContactDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonAddress.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/PersonalDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/RelationshipDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-658

#677 SNI-2335: Submit and Payment issue : code fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-677

#681 Bundling Issue changes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-681

#682 Bundling changes
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-682

#668 Feature/isdb 443
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Attendee.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-668

#676 ISDB-448
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-676

#686 ISDB-448
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-686

#687 Feature/case flag 15th nov
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-687

#690 Feature/case flag dummy demo 16 nov
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-690

#691 ISDB-448
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-691

#689 Caselink
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-689

#693 ISDB-448
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-693

#702 ISDB-448
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-702

#703 Revert "ISDB-448"
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-703

#688 respondent-Details Null pointer issue fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataRespondentDetailsElementsMapper.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-688

#659 excluding case controller bugs to proceed with testing citizen changes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseNotificationEmailService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-659

#673 feat: add callback for email notification (PRLC100-270)
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationCallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationCallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-673

#706 Caselinking to Demo updated
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-706

#696 Prl 2588 lrd base region demo
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-696

#709 feat: fix statement of truth field by adding userInfo field (PRLC100-…
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-709

#708 Caselink to demo
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-708

#717 feat: update retrive case method to include state label
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CitizenCaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-717

#663 MI reporting changes
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-663

#718 Case link to demo
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caselink/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caselink/LinkReason.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-718

#719 feat: add consent order mapping (PRLC100-338)
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataConsentOrderDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildConsentOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/resources/c100-rebuild/co.json
  src/test/resources/c100-rebuild/mapper-response.json
  src/test/resources/c100-rebuild/op.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-719

#720 fix sonar issues
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-720

#721 feat: comment out child live with and relationshipToChild fields (PRL…
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-721

#724 PRLC100-344 - Changes to create only service request for when help with fees is opted in
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/PaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-724

#731 fix: fix mappers for minimal data for elements (PRLC100-340)
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataTypeOfOrderElementsMapper.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-731

#726 Base branch for C100 Rebuild
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataHwnElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataTypeOfOrderElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataUrgencyElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/DisabilityRequirementEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildMatters.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-726

#722 Chart upgrade for cos-api
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-722

#733 Bundling demo changes
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-733

#739 fix: childMatter array issue(PRLC100-340)
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildMatters.java
  src/test/resources/c100-rebuild/cd.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-739

#604 Release 3.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/consent/Consent.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-604
