Repository hmcts/prl-cos-api, pull requests merged in 2022-01, with the labels that each got.

#65 Ignore pact tests
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/PaymentServiceRequestConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/PrePopulateFeeDetailsConsumerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-65

#66 Remove infra
  Jenkinsfile_CNP
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-66

#67 Update values.yaml
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-67

#80 Feature/prl 687 screen refinement miam
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamChildProtectionConcernChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamExemptionsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamUrgencyReasonChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-80

#68 Validation and test cases for child details changes.
  charts/prl-cos/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/OtherPersonWhoLivesWithChild.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-68

#81 Accessing Secrets
  Jenkinsfile_CNP
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-81

#84 Enum testing
  src/main/java/uk/gov/hmcts/reform/prl/enums/ApplicantOrChildren.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ChildArrangementOrderTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/DontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/EventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Gender.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/LiveWithEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamDomesticViolenceChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamExemptionsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamOtherGroundsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamPreviousAttendanceChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/MiamUrgencyReasonChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OrderAppliedFor.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OrderTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PassportPossessionEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PermissionRequiredEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ProceedingsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/RelationshipsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/SpokenOrWrittenWelshEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/TypeOfOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/WhoChildrenLiveWith.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/RespondentsChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/OtherProceedingsCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-84

#85 Prl 637 manage documents
  src/main/java/uk/gov/hmcts/reform/prl/enums/DocTypeOtherDocumentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/DocumentCategoryEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/FurtherEvidenceDocumentType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/RestrictToCafcassHmcts.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Correspondence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/OtherDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/CorrespondenceDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/FurtherEvidenceDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-85

#92 Prl 688 other people in case
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/OtherPersonRelationshipToChild.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-92

#94 Remove dgs reference
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-94

#95 Bulk print service
  build.gradle
  src/contractTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/InvalidResourceException.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-95

#86 Prl 618 add case number
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-86

#90 Prl 668 draft document link submit and pay
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-90

#99 change file format
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-99

#100 Prl 610 ctsc case worker return application
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/RejectReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-100

#98 Prl 802 bypass fee pay
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/user/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/prl/models/user/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UserService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-98
