Repository hmcts/prl-cos-api, pull requests merged in 2022-03, with the labels that each got.

#226 Code smell fixes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/allegationsofharm/AllegationsOfHarmOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AllegationsOfHarmMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/ApplicantsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/ChildrenMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherPeopleInTheCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherProceedingsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/SolicitorsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/ConfidentialDetailsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/DateOfSubmissionGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/OtherProceedingsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/UrgencyGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/ApplicantsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/ChildrenMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/CombinedMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherPeopleInTheCaseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherProceedingsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/SolicitorsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-226

#219 Updated Amend Court Details
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-219

#220 FL401 application - change the state to SUBMITTED on submission complete
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/EventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListRendererTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/EventsCheckerTest.java
  src/test/resources/fl401-task-list-markdown.md
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-220

#232 Prl 941 fl401 upload docs witness
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/UploadDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/EventsChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListRendererTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/EventsCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-232

#244 Changing the signature as per fee and pay
  charts/prl-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendAndReplyEventData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-244

#247 Test cases for signoff
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/EventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401ApplicationTypeChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/HearingUrgencyChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/prl/CosApiSmokeTests.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/ResourceLoader.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/smokeTest/java/uk/gov/hmcts/reform/prl/utils/ServiceAuthenticationGenerator.java
  src/smokeTest/resources/CallBackRequest.json
  src/smokeTest/resources/application.yaml
  src/smokeTest/resources/controller/valid-request-body.json
  src/smokeTest/resources/controller/valid-request-casedata-body.json
  src/smokeTest/resources/courtfinder/court-finder-request.json
  src/smokeTest/resources/courtfinder/court-finder-response.json
  src/smokeTest/resources/requests/call-back-controller-applicant-case-name.json
  src/smokeTest/resources/requests/call-back-controller-miam-request-error.json
  src/smokeTest/resources/requests/call-back-controller-miam-request-no-error.json
  src/smokeTest/resources/requests/call-back-controller-validate-application-timeframe-error.json
  src/smokeTest/resources/requests/call-back-controller.json
  src/smokeTest/resources/requests/send-and-reply-request.json
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/SolicitorsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/json/NullAwareJsonObjectBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/FL401ApplicationTypeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/HearingUrgencyCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/PdfCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-247

#256 Fix code smell
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/framework/workflow/AbstractWorkflow.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Correspondence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/FL401Proceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/OtherDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ProceedingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/UploadDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AllegationsOfHarmMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/TypeOfApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401ApplicantFamilyChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/HearingUrgencyChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/HomeChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/RespondentBehaviourChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/RespondentsChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/HearingUrgencyCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/HomeCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentBehaviourCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-256

#273 pitest
  Jenkinsfile_nightly
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-273

#259 Prl 1024 fl401 withdraw latest
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/resources/requests/call-back-controller-C100-case-data.json
  src/functionalTest/resources/requests/call-back-controller-fl401-case-data.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-259

#254 Type of application change
  src/main/java/uk/gov/hmcts/reform/prl/enums/PermissionRequiredEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/TypeOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicationTypeCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-254

#268 Delete application
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DeleteApplicationFunctionalTest.java
  src/functionalTest/resources/requests/call-back-controller-delete-application-request.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-268

#284 Prl 1010 fl401 send and reply
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/StatementOfTruth.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CcdPaymentServiceRequestUpdate.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-284

#285 Fl401 Return Application
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ApplicantRelationshipOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/FL401RejectReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Order.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/OtherPersonInTheCase.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-285

#279 Prl 1015 da send case to gatekeeper
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-279

#272 Prl 1016 add case number latest
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/HearingUrgencyCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentBehaviourCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-272
