Repository hmcts/prl-cos-api, pull requests merged in 2022-12, with the labels that each got.

#753 Hearing api demo deploy
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/HearingManagementValidationException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/HearingDetailsRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingsUpdate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/HearingDetailsEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-753

#755 feat: refactor C100 rebuild code to have fields under one object (PRL…
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseCreatedBy.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-755

#761 Bugfix/case flag fl401 issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-761

#762 Bugfix/case flag release to demo 5th december
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-762

#764 C100 Rebuild - Demo deployment changes
  README.md
  charts/prl-cos/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseCreatedBy.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-764

#779 Feature/isdb 475
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OrderCollection.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OrderDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-779

#771 Bundling QA Issue fixes and DemoReviewComments(READY FOR MERGE)
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder2.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder2Details.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder3.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder3Details.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder4.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder4Details.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder5.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder5Details.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingInformation.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-771

#780 committing sonar exclusion changes ,code smell and code coverage
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseNotificationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CourtFinderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/c100-rebuild/hwn1.json
  src/test/resources/c100-rebuild/ra2.json
  src/test/resources/c100-rebuild/ra3.json
  src/test/resources/c100-rebuild/too2.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-780

#595 Feature/respondent solicitor miam
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/respondentsolicitor/MiamController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RespondentSolicitorMiam.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RespondentSolicitorMiamService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/respondentsolicitor/MiamControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RespondentSolicitorMiamServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-595

#606 Feature/respondent solicitor proceedings
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/abilitytoparticipate/AbilityToParticipate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RespondentSolicitorMiam.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-606

#617 added case data mappings for respondent solicitor for Confirm or edit…
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/AddressCollection.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ConfirmEditDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-617

#776 ISDB-474
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-776

#792 - Fix for build failure
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-792

#758 Local docker configuration
  build.gradle
  config/owasp/suppressions.xml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/prl/CftLibConfig.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-758

#791 Bundle refresh issue fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-791

#795 Build Issue Fix
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-795

#788 Cafcass release to demo 14 dec
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Attendee.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OrderCollection.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OrderDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-788

#786 About to submit callback updated
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/SolicitorRole.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseaccess/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/NoticeOfChangeAnswersData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/NoticeOfChangeParties.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/NoticeOfChangePartiesConverter.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConverter.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-786

#797 Cafcass release to demo 14 dec
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-797

#796 update caselink object
  charts/prl-cos/values.preview.template.yaml
  sonar-project.properties
  src/main/java/uk/gov/hmcts/reform/prl/models/CaseLinksElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-796

#793 code smell fix - parameterized grouped in a single Parameterized test
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-793

#799 Bundling changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-799

#694 Prl case data refactoring
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/AttendHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/MiamDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/SpecialArrangementsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AttendingTheHearingChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/SpecialArrangementsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AttendingTheHearingCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/WhyCantISubmitListTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-694

#802 - made changes to initialise case level flag object to display case l…
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/prl/CftLibConfig.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-802

#752 updated callback controller
  Jenkinsfile_CNP
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-752

#809 Feature/cafcas release to dummy demo
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-809

#813 valyesyamlchnages
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-813

#806 - Dummy Demo deployment
  README.md
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-806

#811 Prl 2810 solicitor draft backend changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/CafcassCymruDocumentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/DeliveryByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/OtherOrganisationOptions.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/ServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/WhatToDoWithOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/AttendHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/EmailInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/MiamDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/PostalInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/SpecialArrangementsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AttendingTheHearingChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/SpecialArrangementsGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AttendingTheHearingCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/WhyCantISubmitListTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-811

#803 bundling test case dummy changes(NOT READY FOR MERGE)
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/resources/requests/casedata.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-803

#821 Featue/case flag tab issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-821

#827 - Case level flag tab issue fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-827
