Repository hmcts/prl-cos-api, pull requests merged in 2022-06, with the labels that each got.

#408 Prl 1224 fl402
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-408

#397 FPET-18 Added additional court email address for DA application
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-397

#419 New court added for DA
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-419

#385 Prl 1452 amend order order tab
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/TimeConfig.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/EmptyFileException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendedOrderStamper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/time/Time.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentsHelper.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ResourceReader.java
  src/main/resources/application.yaml
  src/main/resources/fonts/arial_bold.ttf
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendedOrderStamperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/FixedTime.java
  src/test/resources/documents/document-amended.pdf
  src/test/resources/documents/document.pdf
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-385

#366 Multiple Magistrates
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/MagistrateLastName.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-366

#387 Prl 1366 1367 notification
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildSelectorEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CcdPayment.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/ManageOrderEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-387

#373 Prl 1194 c43 latest
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-373

#414 FPET-22 fixed resubmitted update confidential tab
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-414

#388 Prl fl400 da manage order
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CaseTransferOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ReasonForTransferEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-388

#344 Prl 1196 latest
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-344

#381 Feature/withdraw request approval
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-381

#405 Prl 1247 withdraw latest
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-405

#395 FPET-13 changes to display case list
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-395

#430 PRL-1570 cafcass reports for MI requirement
  src/main/java/uk/gov/hmcts/reform/prl/enums/CafcassReportsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-430

#412 SNI-953 changes for documents
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-412
