Repository hmcts/prl-cos-api, pull requests merged in 2022-10, with the labels that each got.

#572 base path addded
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcaas/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcaas/CafcassDocumentManagementController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-572

#583 FPET-179 Upgraded jackson to 2.14.0-rc1to fix Nightly build
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-583

#564 PRL-2187:added changes for email to resubmit application
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-564

#587 - Functional test fix for cafcass
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/functionalTest/resources/response/cafcass-search-response.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/cafcass/exceptionhandlers/ApiError.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-587

#578 chnages for PRL 2200
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/common/CitizenFlags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/UploadDocumentEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/LocalAuthorityEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-578

#593 - exception handling changes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AuthorisationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-593

#594 Feature/merge from master
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-594

#592 Global search changes
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-592

#554 PRL-2173 added changes for notification to respondent and applicant
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/ManageOrderEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-554

#589 Notifications
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/ManageOrderEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-589

#590 Feature/prl 2117 review and submit
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/RespondentSubmitResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/RespondentSubmitResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-590

#537 address property names are modified in courtnav case data
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Gender.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/CourtNavDataValidationException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/ApplicantsDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/BeforeStart.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavMetaData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavRelationShipToRespondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtnavAddress.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/GoingToCourt.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/RespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/Situation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/TheHome.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/enums/ApplicantGenderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/enums/SpecialMeasuresEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-537

#528 Update README.md
  README.md
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Gender.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/CourtNavDataValidationException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/ApplicantsDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/BeforeStart.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavMetaData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtNavRelationShipToRespondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtnavAddress.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/GoingToCourt.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/RespondentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/Situation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/TheHome.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/enums/ApplicantGenderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/enums/SpecialMeasuresEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-528, enable_fortify_scan

#598 additional test cases are added for FL401ApplicationMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-598

#573 Feature/prl 2128 ca citizen resp download
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/RespondentSubmitResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/ResponseDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/RespondentSubmitResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-573

#599 Prl 2330 c21 welsh doc poc
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-599

#495 added supplemetary data
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-495

#621 Cafcass release to dummy demo
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-621

#485 Dynamic multiselect list
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/TestEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiselectListElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/ConfirmRecipients.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-485

#608 Refactored APIs
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApi.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-608

#614 Updated code for failure scenarios of fee payment
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-614

#634 Unblocker for citizen journey
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-634

#620 Feature/prlc100 234 child details mapping
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildChildDetailsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildMatters.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/DateofBirth.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ParentialResponsibility.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/PersonalDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-620
