Repository hmcts/prl-cos-api, pull requests merged in 2022-07, with the labels that each got.

#443 supressed CVE
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-443

#444 Release 2 bug fixes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/InternationalElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-444

#454 FL406 docmosis changes added
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-454

#459 Release 2 bug fixes
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-459

#461 mnage order header needs to have order type
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-461

#466 Adding new courts
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-466

#471 PRL-1797: Renaming docmosis templates
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-471

#458 Prl case amend latest
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-458

#472 Release 2.1 fix
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-472

#473 Upgraded helm base chart for Java
  charts/prl-cos/Chart.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-473

#475 Added emails to the court
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-475

#437 Resolved CVE errors
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/CosApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/PbaValidationClient.java
  src/main/java/uk/gov/hmcts/reform/prl/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServeCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/GenerateDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-437

#483 Fix for null pointer exception
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-483

#482 Prl 1765 retrieve link cases latest
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/CaseDetailsConverterTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-482
