Repository hmcts/prl-cos-api, pull requests merged in 2023-09, with the labels that each got.

#1655 Citizen case linking fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApi.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApiTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1655

#1626 feature/setup-legal-rep-events
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
Labels: ns:private-law, prd:prl, keep-helm, case-flags-2-1, rel:prl-cos-pr-1626

#1625 feature/setup-external-flags
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
Labels: ns:private-law, prd:prl, case-flags-2-1, rel:prl-cos-pr-1625

#1627 fixed issues aoh & task list changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/EventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AllegationsOfHarmRevisedMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AllegationOfHarmRevisedService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmRevisedChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndApplicantsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndOtherPeopleInThisApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndRespondentsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/AllegationsOfHarmRevisedMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmRevisedCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
  src/test/resources/task-list-allegations-revised-no-errors.md
  src/test/resources/task-list-markdown-v2.md
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1627

#1663 FPET-695 CVE fixes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ChildAbuseEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1663

#1549 updated ccd pr
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1549

#1600 Enable smoke and functional tests
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile_CNP
  README.md
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1600, enable_keep_helm

#1632 PRL-4216 - Changes for showing additional uploaded docs in orders tab
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/AdditionalOrderDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1632

#1659 added s2s token for payment service with feature toggle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1659

#1675 Added Bearer Keyword
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1675

#1690 Fixed solicitor TS create case in Demo
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1690

#1694 Added calling service name for cafcass testing in production
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1694

#1696 Added calling service name for cafcass testing in production
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1696

#1697 Added calling service name for cafcass testing in production
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1697

#1699 logged the exception for cafcass failure in prod
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/AuthorisationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1699

#1700 Fpet 707
  .github/workflows/ci.yml
  Jenkinsfile_CNP
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/CaseLinksElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/Element.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/GenerateDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/Element.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/BeforeStart.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/CourtnavAddress.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/courtnav/Situation.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentEventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/EventsChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/AddCafcassOfficerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/AllegationOfHarmRevisedControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/framework/context/DefaultTaskContextTest.java
  src/test/java/uk/gov/hmcts/reform/prl/framework/workflow/DefaultWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CourtFinderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1700

#1706 Creating new PR for FPET-707
  Jenkinsfile_CNP
  README.md
  build.gradle
  pacts/prl_cos-case-document-am-client-api.json
  pacts/prl_cos-commonDataRefApi.json
  pacts/prl_cos-createBundleApi.json
  pacts/prl_cos-hearingApiClient.json
  pacts/prl_cos-judicialUserDetailsApi.json
  pacts/prl_cos-referenceData_organisationalInternal.json
  pacts/prl_cos-staffResponseDetailsApi.json
  pacts/prl_cos_api-s2s_auth.json
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cafcass/CafcassApiConsumerCcdSearchCaseApiTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/fee/FeeApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/listwithoutnotice/CaseLinedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/CommonRefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/JudicialUsersApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataOrganisationalInternalUsersConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataStaffUserConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdatacategory/RefDataCategoryApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/rpe/ServiceAuthConsumerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1706

#1598 PRL-3954:Transfer to another court
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/TransferCaseTemplate.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CantFindCourtEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/TransferToAnotherCourtReasonDaEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/TransferToAnotherCourtReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/events/TransferToAnotherCourtEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/TransferToAnotherCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendCourtService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/transfercase/TransferCaseContentProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendCourtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/transfercase/TransferCaseContentProviderTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1598, Transfer-court, enable_keep_helm

#1666 PRL-4239-restrict-draft-order
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendedOrderStamper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1666, enable_keep_helm

#1657 testing support for courtnav
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/resources/FL401_CourtNav_Draft_CaseDetails.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1657, enable_keep_helm

#1718 Removed unwanted code for cafcass API and also returned the right lis…
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1718

#1682 Feature/case flags 2 1 with external flags
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1682

#1612 Prl 4184 admin upload
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendedOrderStamper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1612, enable_keep_helm

#1640 Draft an order prod fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1640, enable_keep_helm

#1721 Renovate Inclusion
  .github/renovate.json
  charts/prl-cos/values.preview.template.yaml
Labels: enable_keep_helm

#1723 Add null check for address for other people in the case
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1723

#1726 Update HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1726

#1735 fix/courtnav-ts-bug
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1735

#1725 Case flags for all parties
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1725

#1719 Request support
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1719
