Repository hmcts/prl-cos-api, pull requests merged in 2023-02, with the labels that each got.

#967 bugs fixes from Release3-1
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AttendToCourtChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-967

#970 PartyDetails Id impl COS in DummyDemo
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-970

#939 ISDB-554
  Jenkinsfile_CNP
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-939

#975 ISDB-577
  src/main/java/uk/gov/hmcts/reform/prl/config/cafcass/PostcodeLookupConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafcassResponseNoData.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-975

#979 ISDB-577
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafcassResponseNoData.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-979

#996 added ccd pr
  README.md
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ManageOrdersOptionsEnum.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-996

#987 Upload an order
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/link-citizen-case.json
  src/functionalTest/resources/responses/create-case-valid-casedata-output.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildSelectorEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ManageOrdersOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiselectListElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/ConfirmRecipients.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-987

#993 PRL-2997:Updated fields in Amend order enum
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ManageOrdersOptionsEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-993

#995 added ccd pr
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-995

#1018 Feature/cos r3 pd impl copy3
  README.md
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1018

#1021 Wa publish sairam demo
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/link-citizen-case.json
  src/functionalTest/resources/responses/create-case-valid-casedata-output.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildSelectorEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/dynamic/DynamicMultiselectListElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/ConfirmRecipients.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/OrdersToServeSA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1021

#1013 CFV related update for Case Data
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1013

#1029 Amend order updated rebase
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/AmendOrderCheckEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/JudgeOrLegalAdvisorCheckEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1029

#1008 ISDB-577
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/Data.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/Path.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1008

#1044 format change
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/FlagDetail.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1044

#1045 Revert email in issue send lcourt ithc
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1045

#1046 Added a new event for citizen case submit with hwf
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1046

#1052 FPET-354: ApplicationTab code changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildAndApplicantRelation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildAndOtherPeopleRelation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildAndRespondentRelation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildDetailsRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/OtherChildrenNotInTheCase.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/OtherPersonInTheCaseRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1052

#1042 Manage order - Upload & Amend order
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1042

#948 [DO NOT MERGE] C100 Rebuild Release 4.0 Changes - WIP
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManager.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManagerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteServiceTest.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-948

#1012 Upload additional application updated with Dynamic multiselectlist
  src/main/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/UploadAdditionalApplicationData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApllicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1012

#1073 Update HearingApiClient.java
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HearingApiClient.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1073

#1091 PRL-3065 - Skip sending emails to solicitor for citizen created cases during Service of Application
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1091

#1090 Feature/next hearing cos release 3 5 demo
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingManagementControllerFunctionalTest.java
  src/functionalTest/resources/requests/hearing-mgmnt-controller-next-hearing-details.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/NextHearingDateRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskErrorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/OtherProceedingsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/RespondentsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1090

#1099 CVE suppressions
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1099

#1100 Added service Authorisation headers
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1100

#1081 Courtnav case creation issue fixes
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1081

#1079 [C100] PRL-3186 - Citizen to solicitor fields mapping for applicant contact preferences
  src/main/java/uk/gov/hmcts/reform/prl/enums/ContactPreferences.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ContactDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Applicant.java
  src/test/resources/c100-rebuild/appl.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1079

#1095 ISDB-596
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1095

#1106 Hmc demo changes
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1106

#1105 PRL-3153 - Mapping for applicant confidentiality citizen screens
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1105

#1108 hearings api failure event has been removed
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1108

#1080 Draft order bug fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1080
