Repository hmcts/prl-cos-api, pull requests merged in 2023-07, with the labels that each got.

#1509 Read only access
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1509

#1535 hearingvalue test
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1535

#1537 NullSafeCollection inclusion
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1537

#1536 incident fix
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1536

#1540 incident fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1540

#1541 fixed cafcass role
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1541

#1542 Urgent flag Date Limit to 5 days && urgency flag fix
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1542

#1531 Prl 3934 citizen notify soa
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/AccessCode.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1531

#1545 hearing api urgent&nextHearingDate test cases
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1545

#1551 Task List controller updated
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1551

#1554 nextHearingDate latest first
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1554

#1550 Clear hearings details after manage order event is complete
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1550

#1557 added category_id to the document object
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1557

#1518 Send reply & manage doc issue fixes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/RestrictToCafcassHmcts.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1518

#1570 Update build.gradle
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1570

#1552 INC5526697 fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1552

#1571 SendREply and MangeDoc and Rev Doc coverages
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1571

#1574 Feature draft order fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1574

#1577 removed logic to persist state attribute
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1577

#1566 INC5525813 SNI-4330 fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1566

#1572 Java 17 and gradle upgrade
  Dockerfile
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.properties
  lib/applicationinsights.json
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cafcass/CafcassSearchCaseApiConsumerApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1572

#1511 statement of service event changes are added
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/StmtOfServiceAddRecipient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1511

#1586 Update values.preview.template.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1586
