Repository hmcts/prl-cos-api, pull requests merged in 2023-04, with the labels that each got.

#1251 reverted to test
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1251

#1092 ISDB-464 : Implemented a HTTP endpoint which returns JSON content wit…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CourtSpecificCalenderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/prl/models/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/holidaydates/UkHolidayDates.java
  src/main/resources/bank-holidays.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CourtSpecificCalenderControllerTest.java
  src/test/resources/bank-holidays.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1092, keep-helm

#748 Dynamic list poc
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/UploadAdditionalApplicationData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApllicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-748, keep-helm

#1253 FPET-461 bot PR upgrades
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1253

#1267 PRL-3312-(Ready for tech review)
  Dockerfile
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerFT.java
  src/functionalTest/resources/requests/gatekeeping/ListOnNoticeRequest.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/gatekeeping/ListOnNoticeReasonsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1267

#1273 Code refactored
  .github/renovate.json
  charts/prl-cos/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1273

#1277 Update CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1277

#1299 Fix for Manage Order document generation for Welsh language only
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1299

#1300 Status bug fix Resp Solicitor
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1300

#1254 PRL-3207 Notice of change
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/noticeofchnage/NoticeOfChangeControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/ChangeOrganisationApprovalStatus.java
  src/main/java/uk/gov/hmcts/reform/prl/events/NoticeOfChangeEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/NoticeOfChangeEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/DecisionRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessClient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangeContentProvider.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_Old_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_Old_CaseDetails.json
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1254

#1014 Prl 2500 c7 draft
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/SubmitConsentEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, PRLfeatureTeam, rel:prl-cos-pr-1014, keep-helm

#1206 PRL-3346 : Case status not changing to Withdrawn
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWithdrawnRequestService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWitdrawnRequestServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1206

#1183 ListOfCaseIds call optimaztion in serachCases api
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1183

#1312 Update HearingManagementService.java
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1312

#1291 Prl 3188 draft order hearing screen
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1291

#1304 PRL_3448
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Roles.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/DateOrderEndsTimeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1304

#1252 added changes for email sending.
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1252

#1274 added changes for email on consent order not provided.
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1274

#1259 Solicitor draft order base
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1259

#1309 child option for dymanic multiselct list is added in draft order
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1309

#1318 Update bank-holidays.json - Add additional holiday for testing
  src/main/resources/bank-holidays.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1318

#1317 updated CCD PR for testing.
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1317

#1303 noc-with-am-changes
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/SolicitorRole.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/NoticeOfChangeAnswersData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_Old_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConvertorTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1303

#1280 NoC for All
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/SolicitorRole.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/NoticeOfChangeAnswersData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/noticeofchange/NoticeOfChangeParties.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/NoticeOfChangePartiesConverter.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConverter.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_Old_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_Old_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/NoticeOfChangePartiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConvertorTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1280

#1305 PRL-3504 - Retrieve RD staff data with pagination support
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataStaffUserConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/StaffResponseDetailsApi.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RefDataUserService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RefDataUserServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1305

#1326 draft and manage order bug fixes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/hearingrequest/HearingRequestDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1326

#1271 PRL-3254 - Populate hearings dropdown for manage order
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildArrangementOrdersEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1271

#1315 Fix cafcass upload download doc
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1315

#1337 PRL-3557 Cafcass Response to include court type id and name
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1337

#1272 List on notice release v1
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerFT.java
  src/functionalTest/resources/requests/gatekeeping/ListOnNoticeRequest.json
  src/functionalTest/resources/requests/gatekeeping/ListOnNoticeRequestWithoutReasons.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/HearingPriorityTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/gatekeeping/ListOnNoticeReasonsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1272

#1319 Prl 3053
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/UpdateCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1319

#1330 Manage Order SDO DIO Latest
  README.md
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoSection7ImpactAnalysisEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/HearingDateTimeOption.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SdoDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1330
