Repository hmcts/prl-cos-api, pull requests merged in 2023-03, with the labels that each got.

#1109 updateNextHearingDateInCCD chnages
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1109

#1110 hmcStatus impl for Email notification
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1110

#1115 Removing Ignore tests
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile_CNP
  README.md
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/smokeTest/java/uk/gov/hmcts/reform/prl/CosApiSmokeTests.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1115

#1118 Updated terraform
  infrastructure/.terraform-version
Labels: ns:private-law, prd:prl, no-changes, rel:prl-cos-pr-1118

#1119 ISDB-627 Filter cafcass cases with Prepared for Hearing and Decision …
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1119

#1117 3210 manage order bug is fixed
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/OtherProceedingsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1117

#1131 - fixed for case flag deserilization issue.
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/FlagDetail.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1131

#1130 ISDB-627
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HmcHearingRefDataApi.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/refdata/Categories.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/refdata/Category.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1130

#1138 Fixed contact preferences enum issue
  src/main/java/uk/gov/hmcts/reform/prl/enums/ContactPreferences.java
  src/test/resources/c100-rebuild/appl.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1138

#1078 Prl 3177
  Jenkinsfile_CNP
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, PRLfeatureTeam, rel:prl-cos-pr-1078, keep-helm

#1139 -fix for function test failure
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/resources/response/cafcass-search-response.json
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1139

#983 Checking case type of application on submit for WA
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, PRLfeatureTeam, rel:prl-cos-pr-983

#1148 Callback for CCD on HMC Case state update to update alltabs
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1148

#1156 Feature/hmc release 13 mar
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1156

#1134 Prl 3126 Application Submitted after pay
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1134

#1064 PRL-3088:Added changes to generate draft order for judge
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, PRLfeatureTeam, rel:prl-cos-pr-1064

#1151 Manage order - Create order : C43
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1151

#1122 C21 order new screen options are added
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/C21OrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CreateSelectOrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1122

#1075 PRL-3105:Added changes hide fields and populated data from case data
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1075

#1160 case link enhancement
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1160

#1161 ISDB-601 cafcass upload doc category change
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1161

#1162 File Upload Restriction removal AND hearingStatus inclusion in response
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1162

#1164 hearingStatusChanges
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1164

#1123 Feature/emailafterwithdrawn
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenCaseSubmissionEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1123

#973 Release 4.0
  Jenkinsfile_CNP
  README.md
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ContactPreferences.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ContactDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManager.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/OtherProceedingsGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManagerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteServiceTest.java
  src/test/resources/application.yaml
  src/test/resources/c100-rebuild/appl.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, PRLfeatureTeam, rel:prl-cos-pr-973, keep-helm

#1172 Changes for build fix
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1172

#1140 Feature/hearing state and ref data api changes
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdatacategory/RefDataCategoryApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdatacategory/RefDataCategoryApiConsumerTest.java
  src/contractTest/resources/application.yaml
  src/contractTest/resources/response/RefDataCategoryResponse.json
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/response/cafcass-search-response.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HmcHearingRefDataApi.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/refdata/Categories.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/refdata/Category.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1140

#1173 Autoscaling - setting the pods count min to 2
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1173

#1141 PRL-2988 - Defaulting c100 cases to CTSC court
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1141

#1187 idammigration& regionid fix
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1187

#1193 Prl 3184 Contract Test
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/CommonRefDataApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/CommonRefDataConsumerTest.java
  src/contractTest/resources/commonrefdata/CommonRefData.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1193

#1181 XUI testing support
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/resources/C100_Dummy_CaseDetails.json
  src/main/resources/FL401_Dummy_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1181

#1200 PRL-3184 Confirmation page
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeController.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1200

#1169 Next Hearing date changes
  README.md
  charts/prl-cos/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1169

#1179 FPET399 fix
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1179

#1213 updated regionId and baseLocationId
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1213

#1201 ts_citizen_controller and service
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1201

#1220 Feature/sonarcodesmellfix
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/hearingrequest/HearingRequestDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/GatekeepingDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/AllocatedJudgeDetailsGenerator.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1220

#1189 ISDB-649 perf improvment
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Bool.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1189

#1219 gradle version changes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1219

#1149 Return Hmc Status for searchCase Api
  charts/prl-cos/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1149

#1246 Cafcass perf improvement todemo
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/cafcass/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Bool.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/application.yaml
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1246

#1247 - commented out unused code to increase code coverage.
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1247

#1167 C100 dashboard tasklist changes
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationCallbackControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataUrgencyElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenCaseSubmissionEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenEmailServiceTest.java
  src/test/resources/c100-rebuild/appl.json
  src/test/resources/c100-rebuild/hu2.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1167

#1195 XUI testing support
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/StatementOfTruth.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_New_CaseDetails.json
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_New_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1195

#1248 - next hearing date changes to demo.
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1248
