Repository hmcts/prl-cos-api, pull requests merged in 2023-01, with the labels that each got.

#833 Autoscaling
  charts/prl-cos/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-833

#818 code smell fix and code coverage
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-818

#838 code smells for blocker
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-838

#839 SIT - 619
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-839

#828 Bundling Hearing Detail changes(READY FOR MERGE)
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleHearingInfo.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-828

#844 Temporary suppression for vunerability Issue fix
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-844

#820 Feature/test search case api1
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/config/cafcass/PostcodeLookupConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-820

#849 Feature/sonar fix c100 reb UI ld
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataConsentOrderDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataHwnElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataInternationalElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherChildrenDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataRespondentDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataTypeOfOrderElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataUrgencyElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-849

#841 Code smell fixes
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/mapper/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApi.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseNotificationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApiTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadDocumentServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-841

#852 Feature/test search case api1
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/resources/bootstrap.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-852

#845 dummyCosApi
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-845

#854 Feature/test search case api1
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/prl-cos/Chart.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-854

#822 Prl 2369 n117 order
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-822

#628 Solicitor draft an order
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-628

#819 Standard direction order
  Jenkinsfile_CNP
  README.md
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/LocationRefDataApi.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoApplicantRespondentEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoBeforeAEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCafcassOrCymruEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCourtEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCourtRequestedEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCrossExaminationSittingBeforeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoDocumentationAndEvidenceEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoHearingUrgentCheckListEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoHearingsAndNextStepsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoJudgeLaDecideByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoLocalAuthorityEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoNextStepsAllocationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoOtherEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoPreamblesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoRemoteHearingEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoReportSentByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoReportsAlsoSentToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoReportsSentToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoScheduleOfAllegationsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoTransferApplicationReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoWitnessStatementsSentToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoWrittenStatementEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/sdo/PartyNameDA.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/sdo/SdoDisclosureOfPapersCaseNumber.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/sdo/SdoLanguageDialect.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/PartiesListGenerator.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-819

#842 added ccd pr
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-842

#858 Code smell fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseApi.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-858

#861 fix minor code smells
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-861

#745 feat: convert two callbacks into one(PRLC100-343)
  README.md
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseCreatedBy.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataConsentOrderDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataHwnElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataInternationalElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherChildrenDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataRespondentDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataTypeOfOrderElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataUrgencyElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CourtFinderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/c100-rebuild/hwn1.json
  src/test/resources/c100-rebuild/ie.json
  src/test/resources/c100-rebuild/mapper-response.json
  src/test/resources/c100-rebuild/ra2.json
  src/test/resources/c100-rebuild/ra3.json
  src/test/resources/c100-rebuild/too2.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-745

#871 changes ccd url to aat
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-871

#867 Case Link updated tests
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-867

#868 Code smell fix
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-868

#751 Serve Order
  README.md
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/DeliveryByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ManageOrdersOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/OtherOrganisationOptions.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ServeOtherPartiesOptions.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/serveorders/EmailInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/serveorders/PostalInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-751

#862 Bundling Latest Changes
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/BundleApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/contractTest/resources/application.yaml
  src/contractTest/resources/bundle/ValidResponseBody.json
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerFuntctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/bundle/CreateBundleRequest.json
  src/functionalTest/resources/responses/bundle/ValidResponseBody.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDocumentDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleFolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleHearingInfo.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder1.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleNestedSubfolder1Details.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleSubfolderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingRequestDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/DocumentOther.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/Value.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/Attendee.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-862

#840 Prl 2849 change state
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-840

#873 fixed code smells
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmChecker.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-873

#735 Prl 2174 hearings change notification
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/HearingManagementValidationException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/HearingDetailsRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingsUpdate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/HearingDetailsEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-735

#701 Upload additional application
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/ApplicantOfAdditionalApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ApplicantsListGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/IncrementalInteger.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-701

#832 Duplicate email id fix
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-832

#865 Feature/case flag release 3.1
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SearchCasesDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-865

#851 Lrd for Statement of truth and submit
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-851

#880 Sairam lrd demo
  Jenkinsfile_CNP
  README.md
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  config/owasp/suppressions.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataConsentOrderDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataHwnElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataInternationalElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherChildrenDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataRespondentDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataTypeOfOrderElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataUrgencyElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmChecker.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/resources/application.yaml
  src/test/resources/c100-rebuild/ie.json
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-880

#876 fixed code smell issue
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-876

#881 Draft Order SDO & DOI
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-881

#884 Release 3.1 unit test cases
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-884

#885 Bundling SonarQube and Otherfix changes
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerFuntctionalTest.java
  src/functionalTest/resources/requests/bundle/C100-case-data.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-885

#901 Release 3 1 code smells
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorMiamService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
Labels: ns:private-law, prd:prl, Release-3-1, PRLfeatureTeam, rel:prl-cos-pr-901

#905 Fix for code smells
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-905

#907 Remove duplicate codes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListRenderElementsTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-907

#807 Safety concerns cos changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PassportPossessionEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/AttendingToCourtEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/CourtComfortEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/CourtHearingEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/CourtOrderTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/DocsSupportEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/HelpCommunicationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/LanguageRequirementsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/ReasonableAdjustmentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/SafetyArrangementsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/SafetyConcernsAboutEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/SpecialArrangementEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/TravellingToCourtEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/TypesOfAbusesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/safetyconcerns/Abductions.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/safetyconcerns/Abuse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/safetyconcerns/AbuseTypes.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/safetyconcerns/OtherConcerns.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/safetyconcerns/SafetyConcerns.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/supportyouneed/ReasonableAdjustmentsSupport.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-807

#911 Bundling merge issue fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-911

#912 Release 3 1 code smell fix
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-912

#915 Fixed issue caused by refactoring.
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-915

#917 Release 3 1 code smell fix
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-917

#918 PRL-2698 - Corrected the passport possession enum matching from CCD
  src/main/java/uk/gov/hmcts/reform/prl/enums/PassportPossessionEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-918

#913 Bundling config file name changes
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-913

#906 Test linking bug
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/serveorders/EmailInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/serveorders/PostalInformation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServeOrderData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-906

#923 party details update fix
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-923

#921 Feature/isdb 554 hearing data
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/response/cafcass-search-response.json
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/response/cafcass-search-response.json
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OrderDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-921

#922 Fix code smells
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/functionalTest/resources/requests/link-citizen-case.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitiorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationReponseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingManagementControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/noticeofchnage/NoticeOfChangeControllerIntegrationTest.java
  src/integrationTest/resources/controller/delete-citizen-document.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-922

#902 Feature/respondent solicitor with noc test cases solicitor controller
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentSolicitorTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/NoticeOfChangePartiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConvertorTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-902

#900 Feature/respondent solicitor with noc
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/miam/Miam.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/dio/DioApplicationToApplyPermission.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/AttendToCourt.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/ResSolInternationalElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/RespondentAllegationsOfHarm.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/RespondentAllegationsOfHarmData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/RespondentSolicitorAllegationsOfHarm.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorAbilityToParticipateInProceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorKeepDetailsPrivate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorMiam.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/DirectionOnIssue.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AttendToCourtChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentEventChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentEventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/CaseNameChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AttendToCourtCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentsEventsChekerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/CcdDataStoreServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentSolicitorTaskListRendererTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/NoticeOfChangePartiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConvertorTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-900

#934 Fix pr numbers
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-934

#931 Upload additional applications tab
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/AdditionalApplicationTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/C2AdditionalOrdersRequested.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/C2ApplicationTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/ConfidentialDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/DocumentAcknowledge.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/ExpertReportList.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/FurtherEvidenceType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/OtherApplicationType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/ParentalResponsibilityType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/SecureAccommodationType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/SupplementType.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/UrgencyTimeFrameType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/AdditionalApplicationsBundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/C2DocumentBundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/OtherApplicationsBundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/Supplement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/SupportingEvidenceBundle.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/UploadApplicationDraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/UploadAdditionalApplicationData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApllicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-931

#935 code smells fix
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AttendToCourtChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-935

#930 Release 3 1 fix docs
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-930

#826 Prl 2494 enhanced c7 document
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/enums/TypeOfOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/CurrentOrPreviousProceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/OtherProceedingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/ProceedingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/proceedings/Proceedings.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-826

#747 Sairam qa testing
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/common/CitizenFlags.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-747

#943 Release 3 1 test fix
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-943

#946 Added loggers to debug send/reply message fail issue
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-946

#940 Added new court for chelmsford
  src/main/java/uk/gov/hmcts/reform/prl/enums/CourtDetailsPilotEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-940

#936 Update values.preview.template.yaml
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/enums/respondentsolicitor/RespondentProceedingsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/RespondentProceedingDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RespondentSolicitorTaskListRenderer.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-936

#952 Direction on issue element issue fix
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/DirectionOnIssue.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-952

#959 pact testing is enabled
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-959

#916 Dummy for Release 3.1
  README.md
  src/main/java/uk/gov/hmcts/reform/prl/models/caseinvite/CaseInvite.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-916

#812 new children list field is added for orders tab
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/WithDrawTypeOfOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-812

#963 ISDB-577
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-963

#964 ISDB-577
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-964

#953 PRL-3010 - Removed loggers for pii case data
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenEmailService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-953

#966 Feature/cafcaas non empty data
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-966

#965 Improved covrage
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AttendToCourtChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/noticeofchange/RespondentPolicyConverter.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-965
