Repository hmcts/prl-cos-api, pull requests merged in 2023-12, with the labels that each got.

#1909 Added test cases in CaseInitiationServiceTest
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseinitiation/CaseInitiationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGeneratorTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1909

#1890 SNI-5061 fixed No court fecth issue
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1890

#1831 PRL-4599- MVP allocated judge legal advisor changes
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/enums/gatekeeping/AllocatedJudgeTypeEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1831

#1895 prl-4451/events_for_solicitors_issued)
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1895

#1931 Noc Broken fix
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1931

#1928 Manage orders base branch smell
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/hearingrequest/HearingRequestDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-cos-pr-1928

#1781 FPET-737: Fix submitted date
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1781

#1927 Dynamic task list changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1927

#1893 FPET-548: Add DA respondent solicitor details
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1893

#1944 Fix pr issue
  README.md
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1944

#1913 FPET-799 case flag migration changes
  src/main/java/uk/gov/hmcts/reform/prl/clients/CommonDataRefApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/Flag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/ListOfValue.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RefDataUserService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagMigrationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RefDataUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagMigrationServiceTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1913

#1906 Manage order hearing screen changes
  README.md
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1906

#1911 prl-4632_service_of_application_updates
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1911

#1788 PRL-4328 - Remove Quarantine for court staff uploaded documents & move to confidential if restricted
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1788

#1836 added new party to upload document
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/IdamTokenGenerator.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/manage-documents-request-with-court-as-party.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/managedocuments/DocumentPartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1836

#1886 Orders from Other Proceeding folder creation
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1886

#1796 PRL-4306 Init Remove Confi category
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1796

#1955 feat(PRL-4853): Integrate API changes for C100 application creation
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/ReasonableAdjustmentsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/request/C100FlagDetailRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/ReasonableAdjustmentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/resources/c100-rebuild/appl.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1955

#1957 Refactor Serve ordercommon branch
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1957
