Repository hmcts/prl-cos-api, pull requests merged in 2023-08, with the labels that each got.

#1582 mi-compliance-order-collection
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataStaffUserConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RefDataUserServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1582

#1594 SNI-4260-Bundling Incident Fix
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1594

#1578 PRL3806 - Added new APIs for citizen document management
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/DocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/TypeOfDocumentUpload.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1578

#1568 cos miam-consent
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataConsentOrderDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/DocumentCategory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/DocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/TypeOfDocumentUpload.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1568

#1590 Prl 4125 asynch notification
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/caseworkeremailnotification/CaseWorkerEmailNotificationEventEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/solicitoremailnotification/SolicitorEmailNotificationEventEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/events/CaseWorkerNotificationEmailEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/events/SolicitorNotificationEmailEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseWorkerEmailNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/SolicitorEmailNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWithdrawnRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseWorkerEmailNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/SolicitorEmailNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWitdrawnRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1590

#1562 So a feature test fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/service-of-application.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/ServiceOfApplicationException.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/resources/response/CafCaasResponseWithRegion.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1562

#1559 Pulling respondent statements for Bundling
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1559

#1605 Added MIAM elements for cafcass to consume && Removed Duplicate Service request creation for Citizen Submitted cases
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1605

#1601 INC5533925 solicitor and party email for serving order fix
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1601

#1606 [Send & Reply] Fixed clearing unused dynamic list fields
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1606

#1583 FPET-639_Respondent Conf details to be shown in ConfTab & SummaryTab
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/ConfidentialDetailsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/ConfidentialDetailsGeneratorTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1583

#1613 FPET-670-da_sorted_courtlist
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1613

#1614 FPET-531_courtlistCA
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1614

#1619 PRL-4187 - Cafcass - Update typeOfChildArrangementsOrder to be sent a…
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/OrderAppliedFor.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1619

#1629 Updated citizen to solicitor mapping for children as per latest data model
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/resources/c100-rebuild/mapper-response.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1629

#1631 fix for payment call back issue
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1631

#1593 Prod incident related to hearing details for C6
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/HearingChannelsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/hearingrequest/HearingRequestDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearingmanagement/HearingDataFromTabToDocmosis.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1593

#1634 Prod null fix for C6 generation
  src/main/java/uk/gov/hmcts/reform/prl/enums/HearingChannelsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1634

#1610 COS mapping init
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataSafetyConcernsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/AbuseDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantSafteConcernDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildSafetyConcernsElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100SafetyConcerns.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildSafetyConcernsDto.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AllegationOfHarmRevisedServiceTest.java
  src/test/resources/c100-rebuild/mapper-response.json
  src/test/resources/c100-rebuild/saftycrns.json
  src/test/resources/c100-rebuild/saftycrnsWithoutChildAbuses.json
  src/test/resources/c100-rebuild/saftycrnsWithoutDomesticAbuse.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1610

#1620 SNI-4435 draft an order changes to fix authorisation issues
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1620

#1644 Fixed NPE for other person(optional) relations mapping for citizen journey
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1644

#1648 Cafcass API mapper changes
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1648

#1617 SOA to have confidentiality check for respondent
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1617

#1563 [AWP] PRL-3960 - Create service requests to cater payments for case submission & awp
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/AwpPayment.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1563

#1637 Added code to populate document from Categories
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/TypeOfNocEventEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandler.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandlerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1637

#1585 Update values.preview.template.yaml
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangeContentProvider.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1585

#1616 Soa base with la
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/DocumentListForLa.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1616

#1654 PRL-4242 - adding dynamic recipients list in bulk print
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1654
