Repository hmcts/prl-cos-api, pull requests merged in 2023-06, with the labels that each got.

#1420 init func cos
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/requests/manage-documents-request.json
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1420

#1314 FPET-475 ccd data migration changes completed
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1314, PET_TEAM

#1422 Citizen event for remove legal representative
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1422

#1418 FAct Lrd
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/court/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/C100JsonMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1418

#1405 Prl 3726 sdo updates
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/SdoLocalAuthorityCheckEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/dio/DioLocalAuthorityEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoDocumentationAndEvidenceEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoLocalAuthorityEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SdoDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UserService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UserServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1405

#1409 Prl 3565 review submit document
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarentineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1409

#1442 Additional check for cafcass cymru email not checked
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1442

#1455 fl401 list on notice submit callback issue is fixed
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1455

#1435 issuedate addition in searchcase response
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1435

#1446 PRL-3836
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1446

#1441 PRL-3565 - New quarantine category changes for Cafcass
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/managedocuments/ManageDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1441

#1460 Citizen-home email fix
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1460

#1457 added events and ccd pr
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1457

#1464 Feature demo soa
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/CcdCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/SoaCitizenServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/SoaSolicitorServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bulkprint/BulkPrintDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/EmailNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/ServedApplicationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1464

#1404 SendAndReply Service and Controller coverage
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1404

#1478 Sonar fix for send and reply base branch
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1478

#1479 code smell fixes
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1479

#1482 sendreply more coverage
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1482

#1465 Dummy changes for stitching POC.
  src/main/java/uk/gov/hmcts/reform/prl/clients/BundleApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/bundle/BundlingService.java
Labels: ns:private-law, prd:prl, keep-helm, no-changes, rel:prl-cos-pr-1465

#1481 Reverted @JsonIgnore & added back @JsonFormat for created, last modified dates
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1481

#1483 Feature/sonar refactoring complexity
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1483

#1484 Refactoring Complexity2 sonar
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1484

#1486 Refactoring Complexity for resetSendAndReplyDynamicList
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1486

#1470 Respondent solicitor bug fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1470

#1487 Refactoring complexity4 fix
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1487

#1493 ManageDoc Base branch Functional test fixes
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/requests/manage-documents-request.json
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1493

#1497 ManageDocBaseBranch build fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1497

#1498 Code smells fix 1
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1498

#1499 Soa feature demo
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/WelshCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/main/resources/mediation-voucher-notice-to-parties-welsh-version.pdf
  src/main/resources/notice-of-safety-protection-and-support-services-template-welsh-version.pdf
  src/main/resources/staticdocs/Annex-Z-letter-to-respondent-following-disclosure.pdf
  src/main/resources/staticdocs/Blank_C7.pdf
  src/main/resources/staticdocs/C1_Blank.pdf
  src/main/resources/staticdocs/C9_personal_service.pdf
  src/main/resources/staticdocs/FL415.pdf
  src/main/resources/staticdocs/FL416.pdf
  src/main/resources/staticdocs/Mediation-voucher.pdf
  src/main/resources/staticdocs/Notice-safety.pdf
  src/main/resources/staticdocs/Privacy_Notice.pdf
  src/main/resources/staticdocs/annex-y-letter-following-receipt-of-a-confidential-address.pdf
  src/main/resources/staticdocs/pd36-information-sheet.pdf
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1499

#1500 Soa feature demo1
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1500

#1501 Pact consumer fix
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/rpe/ServiceAuthConsumerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1501

#1502 Reducing Cognitive complexity for processReviewDocument method
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1502

#1473 Test coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1473

#1504 test coverage
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1504

#1439 updated preambles list in SDO
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoHearingsAndNextStepsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoPreamblesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SdoDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/sdo/AddNewPreamble.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1439

#1510 Soa demo copy
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/rpe/ServiceAuthConsumerTest.java
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoHearingsAndNextStepsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoPreamblesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SdoDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/draftorder/sdo/AddNewPreamble.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/PostcodeLookupService.java
  src/main/resources/staticdocs/C1A_Blank.pdf
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1510

#1463 PRL-3881 Send & Reply - Merged open and closed messages into single list
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/MessageStatus.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1463

#1508 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1508

#1476 Soa feature
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/SoaCitizenServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/SoaSolicitorServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/ConfirmRecipients.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/GeneratedDocumentInfo.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bulkprint/BulkPrintDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplicationUploadDocs.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/WelshCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/EmailNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/ServedApplicationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/main/resources/application.yaml
  src/main/resources/staticdocs/Annex-Z-letter-to-respondent-following-disclosure.pdf
  src/main/resources/staticdocs/Blank_C7.pdf
  src/main/resources/staticdocs/C1A_Blank.pdf
  src/main/resources/staticdocs/C9_personal_service.pdf
  src/main/resources/staticdocs/FL415.pdf
  src/main/resources/staticdocs/FL416.pdf
  src/main/resources/staticdocs/Mediation-voucher.pdf
  src/main/resources/staticdocs/Notice-safety.pdf
  src/main/resources/staticdocs/Privacy_Notice.pdf
  src/main/resources/staticdocs/annex-y-letter-following-receipt-of-a-confidential-address.pdf
  src/main/resources/staticdocs/pd36-information-sheet.pdf
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, no-changes, rel:prl-cos-pr-1476

#1514 Changing the selected order logic
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/WelshCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1514

#1397 PRL-3560:Added changes to add party id
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/ServedParties.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, no-changes, rel:prl-cos-pr-1397

#1522 Serivce and controller coverage
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/send-and-reply-request-for-reply.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1522

#1524 updateCaseDataUpdatedByRole reduce cognitive complexity
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1524
