Repository hmcts/prl-cos-api, pull requests merged in 2023-10, with the labels that each got.

#1738 Prl 4212 manage orders base branch merge
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1738

#1749 cafcass order made date/order created date formatting
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
  src/test/resources/response/CafCaasResponse.json
  src/test/resources/response/CafCaasResponseWithRegion.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1749

#1751 fix draft order issue
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1751

#1734 PRL-4361:Added changes for date picker
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1734

#1736 Prl 4295 continuation to get email content
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/EmailUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1736

#1680 C6 mvp changes
  src/main/java/uk/gov/hmcts/reform/prl/models/DateTimePicker.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1680

#1755 Manage orders james fixes
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1755

#1650 PRL-4225 - Serve order & additional docs to other people
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BulkPrintOrderDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/EmailUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1650, enable_keep_helm

#1737 case flags 2.1 parties
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/caseflags/FlagsVisibiltyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1737

#1765 logging hearing date time for checking whether right date and time ar…
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1765

#1674 FPET-702 manage order C43A changes
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1674

#1768 Manage orders base branch non molestation
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1768

#1662 PRL-4212 - Manage orders performance issue fixes
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1662, enable_keep_helm

#1774 PRL-4212 - Manage orders test coverage & sonar code smell fixes.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1774

#1757 Prl 4361 orders poa
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ApplicantOccupationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/RespondentOccupationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1757

#1775 PR 1662 - Added more asserts for test cases
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1775

#1689 PRL-4298-FL404B-Hearing
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1689

#1679 FPET-706_C47A
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1679

#1766 PRL-4408 Cafcass fetch solicitoraddress refdata
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/OtherDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafCaasResponseWithRegion.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1766

#1778 PRL-4454 fix UTC Time issue for Hearing Time which is fetched in Docm…
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1778

#1771 Feature/case flags noc
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1771

#1748 case flags - new flags setup
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/caseflags/PartyRole.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/AllPartyFlags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/PartyFlags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1748

#1576 Prl 4115 bulkscan quarantine
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ScannedDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1576, enable_keep_helm

#1791 ccd pointer
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-1791

#1794 DTSPO-15430 added app insights token to fix issue with logs
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1794

#1653 PRL-4164 Update awp application status on Send and Reply message
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1653, enable_keep_helm

#1795 PRL-4212 - manage orders fields to clear after event is complete
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1795

#1812 feature/PRL-4520-S6126: Fix String concatenation with Text block
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWithdrawnRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1812

#1811 Tech debt: Increase code coverage
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-cos-pr-1811

#1808 codesmell fix for PRL-4525
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendReplyJudgeFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/filter/cafcaas/CafCassFilterTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-cos-pr-1808

#1813 Sonar fixes 4523
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1813

#1809 Test Coverage 4532
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1809

#1807 Feature/tech debt increase code coverage part 3
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndApplicantsChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndApplicantsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndOtherPeopleInThisApplicationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildrenAndRespondentsCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1807

#1825 feature/PRL-4530: Fix S6126,S6201,S2293,S1135,S1871,S1068 and S1144
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1825

#1829 fix for smoke test
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1829

#1692 feature/PRL-4273_Order_Selection_Screen_Changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1692

#1815 PRL-4535-cleanup-solicitor-data
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-cos-pr-1815

#1824 Prl 4524 tech debt java:S1854, S1155, S3415, S3516 & S2386
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ConsentToApplicationChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/GatekeepingDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/AllegationsOfHarmRevisedChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1824

#1804 PRL-4522 sonar fix init
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1804

#1820 Prl 4527 fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1820

#1821 Tech debt: java:S3457, S1452, S1607, S1612, S1066 & S6201
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-cos-pr-1821
