Repository hmcts/prl-cos-api, pull requests merged in 2023-05, with the labels that each got.

#1336 cos pr creation
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1336

#1335 PRL-3556 - Send and Reply upgrade - Callbacks to fetch Reference Data…
  build.gradle
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/RefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1335

#1359 PRL-3593 adding epims id for cafcass response
  src/main/java/uk/gov/hmcts/reform/prl/models/cafcass/hearing/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1359

#1362 Feature/send reply functional
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1362

#1323 List on notice for DA changes are added
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/gatekeeping/FL401ListOnNoticeDirectionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/gatekeeping/Fl401ListOnNotice.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1323

#1356 Update README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, PRLfeatureTeam, keep-helm, rel:prl-cos-pr-1356

#1358 PRL-3458 - Updated CCD PR to 1247
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1358

#1352 PRL-3453 - Send and Reply upgrade- message type- variations - Save Me…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/common/CodeAndLabel.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1352

#1364 about to submit service unit test
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1364

#1331 Respondent journey fix
  src/functionalTest/resources/requests/link-citizen-case.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/ResSolInternationalElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorAbilityToParticipateInProceedings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorInternationalElement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorKeepDetailsPrivate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/SolicitorMiam.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorTaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitCheckerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1331

#1372 PRL-3608 - Send and Reply upgrade
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/SendAndReplyNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1372

#1340 fl401 add casenumber state chan ges are added
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/resources/requests/call-back-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1340

#1380 isAddCaseNumber for functional test fix is added
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/resources/requests/fl401-add-case-number.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1380

#1387 swansea-fix
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCafcassOrCymruEnum.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1387

#1378 Send and Reply Apllication dropdown changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1378

#1382 noc-confidentiality-bug-fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1382

#1392 Document generation fix for returned to gatekeeping
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1392

#1383 Prl 3529 courtnav fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1383

#1370 Reply message & history changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalExternalMessageEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalMessageWhoToSendToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/MessageAboutEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1370

#1355 PRL-3429:changes for docmosis
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildArrangementOrdersEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CreateSelectOrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1355

#1384 updated CCD PR.
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalExternalMessageEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalMessageWhoToSendToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/MessageAboutEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1384

#1402 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1402

#1399 Admin stop solicitor representation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/noticeofchange/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
Labels: ns:private-law, prd:prl, keep-helm, NoC, rel:prl-cos-pr-1399

#1385 Prl 3613 cafcass cymru email
  Jenkinsfile_CNP
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/link-citizen-case.json
  src/functionalTest/resources/requests/manage-order-fetch-children-request.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/WelshCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/CafcassEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1385

#1192 Citizen confidential info base
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassServiceUtil.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorTaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMappertest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1192, NoC

#1373 Respondent response submission
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1373

#1410 Moved cafcass notification out of feature flag
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1410

#1408 NOC Email fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/clients/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrgSolicitors.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SolicitorUser.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/SolicitorsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/SolicitorsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, NoC, rel:prl-cos-pr-1408

#1398 PRL-3562 - Manage document event for solicitor & CTSC
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/managedocuments/DocumentPartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarentineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/managedocuments/ManageDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1398

#1411 Applicants Role changes
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/SolicitorRole.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/FL401CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, NoC, rel:prl-cos-pr-1411

#1407 FPET-561 changes
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1407

#1413 PRL-3440
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalMessageReplyToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sendmessages/InternalMessageWhoToSendToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1413

#1416 ManageDocService Junit and coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-cos-pr-1416

#1421 Adding upload order WA task
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1421
