Repository hmcts/prl-cos-api, pull requests merged in 2024-02, with the labels that each got.

#2008 prl_4660-Block_SDO_DIO_Notice_of_proceedings_for_Legal_Reps
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2008

#2002 Soa Recipients Address Check
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/service-of-application.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2002

#2001 Prl 4805/soa da static text
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2001

#1816 PRL-4403 - MVP allocated judge changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/tab/summarytab/summary/AllocatedJudge.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/gatekeeping/AllocatedJudge.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/judicial/Appointment.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/judicial/JudicialUsersApiResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/AllocatedJudgeDetailsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/AllocatedJudgeDetailsGeneratorTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1816

#2018 Enable async for NoC
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandlerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2018

#2006 FPET-857: Respondent Solicitor - Keep details private content changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoIDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/confidentiality/KeepDetailsPrivate.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/KeepDetailsPrivateCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2006

#1972 Prl 4612 no address warning message
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/manage-orders/serve-order-request-otherParty-address-present.json
  src/functionalTest/resources/requests/manage-orders/serve-order-request-otherParty-noaddress-present.json
  src/functionalTest/resources/requests/manage-orders/serve-order-request-respondent-lip-address-present.json
  src/functionalTest/resources/requests/manage-orders/serve-order-request-respondent-lip-noaddress-present.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/requests/serve-order-request-respondent-lip-address-present.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1972

#2032 Functional fix
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/resources/requests/court-admin-manage-order-noapproval-required-request.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2032

#1608 Serving LA screen changes SOA
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFunctionalTest.java
  src/functionalTest/resources/requests/service-of-application.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/DocumentListForLa.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/EmailUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1608, enable_keep_helm

#1939 PRL-4616:added changes for sendgrid templates
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/cafcass-cymru-send-email-request.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportCreateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportCreateCaseDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1939

#2011 FPET-858 Respondent solicitor journey handled data cleanup
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2011

#2004 FPET-854 Content Update - Edit your contact details/Keep your details private
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/c100-respondent-solicitor-call-back-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2004

#1964 PRL-4981 - Populate party names before sending data to dgs
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1964

#2013 FPET-867: Respondent Solicitor - Active respondent
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2013

#1624 Case flags 2.1 - Solicitor onboarding
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/CommonDataRefApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/PartyEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/caseflags/PartyRole.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100respondentsolicitor/RespondentC8.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/AllPartyFlags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/flagdetails/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/CaseFlag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/Flag.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/datamigration/caseflag/ListOfValue.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RefDataUserService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagMigrationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseinitiation/CaseInitiationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RefDataUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagMigrationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseinitiation/CaseInitiationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGeneratorTest.java
Labels: ns:private-law, prd:prl, case-flags-2-1, rel:prl-cos-pr-1624, enable_keep_helm

#1777 PRL-4190: Added changes to check for respondent confidentiality
  src/main/java/uk/gov/hmcts/reform/prl/controllers/TaskListController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1777

#2047 Feature/mng doc coverage
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2047

#2052 Update values.preview.template.yaml
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/StatementOfServiceWhatWasServed.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/StatementOfService.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/StmtOfServiceAddRecipient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2052

#2028 CA - Send grid & gov notify email-personal service (applicant solicitor)
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2028

#1693 PRL-4195:Respondent C8 generation while amending respondent details
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/documents/ResponseDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CitizenResponseDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RespondentC8Document.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1693, c8-confidentiality

#2029 Feature/prl 4842
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2029

#2035 SOA PRL-5015- Local Authority Email
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2035

#2031 SDO-Direction-for-fact-finding
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCourtRequestedEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoReportsAlsoSentToEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SdoDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2031

#2027 PRL-4598, PRL-4854 - Hearings type dropdown changes for create & upload order journeys
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2027

#2023 PRL-4983: added new field to save in serve order details
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/CallBckReqForFinaliseServeOrder_courtadmin.json
  src/functionalTest/resources/CallBckReqForFinaliseServeOrder_courtbailif.json
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/ServedParties.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2023

#1932 Non Personal Service Serve Order Impl
  src/functionalTest/resources/CallBackRequest.json
  src/functionalTest/resources/requests/manage-order-fetch-children-request.json
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1932

#2030 prl-4717/solicitor-return-journey-ui-changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2030

#1961 Update email sendgrid for ApplcntAndResp
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/serve-order-send-email-to-app-and-resp-request.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1961

#2060 Test case fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2060

#2062 Fix AM System update user issue
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2062

#2065 system user role assignement api
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SystemUserRoleAssingmentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/Attributes.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentServiceForSystemUser.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2065

#2021 prl(4611)_application_paid_email
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2021

#2067 Update README.md
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2067

#2071 TEMP UNBLOCK - Generate & send access code in email for applicants/respondents
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2071

#2079 TEMP UNBLOCK - Persist case invites generated & sent to applicants/respondents
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2079

#2074 Fix for SDO final order hearing options
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2074

#2089 Init pr
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2089

#2070 SDO Hearing Fix
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/court-admin-manage-sdo-order-judge-approval-required-request.json
  src/functionalTest/resources/requests/court-admin-manage-sdo-order-noapproval-required-request.json
  src/functionalTest/resources/requests/judge-draft-sdo-order-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-sdo-1hearing-judge-appr-request.json
  src/main/java/uk/gov/hmcts/reform/prl/mapper/hearingrequest/HearingRequestDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2070

#2066 Update values.preview.template.yaml
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/court-admin-manage-order-judge-approval-required-many-hearing-request.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ManageOrdersOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/RoleAssignmentDto.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2066

#2111 Added Temp ignore for functional test cases & filter Completed hearings
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2111

#2116 Fixed filter issue for hearings with awaiting hearing details & completed
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2116

#2122 Updated the AM IDAM api
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2122

#2069 Fpet 878 latest sonar fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2069

#2124 Fpet 878 latest raoh doc fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2124

#1986 FPET-834 respondent AOH changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/RespPassportPossessionEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/RespChildAbuse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/RespDomesticAbuseBehaviours.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/RespondentAllegationsOfHarmData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RespChildAbuseBehaviour.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RespChildPassportDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AllegationsOfHarmRevisedMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RespondentAllegationOfHarmService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RespondentAllegationOfHarmServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentAllegationsOfHarmCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1986

#2091 PRL 5186: Citizen case withdrawn
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2091

#2076 Stop Representing client - Respondent Solicitor
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangeContentProvider.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangeContentProviderTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2076

#2081 Feature/PRL-4579 PRL-4580 PRL-4581 respondent task list updates
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentEventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskErrorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentTaskErrorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentEventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskErrorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentTaskErrorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/CurrentOrPastProceedingsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/InternationalElementsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentsEventsChekerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentSolicitorTaskListRendererTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2081

#2083 PRL-5175:Added placeholder for other person logic
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2083

#2087 PRL-4588 MIAM - Respondent solicitor journey
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorMiamService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentMiamChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2087

#2077 PRL-4382, PRL-4372, PRL-4380 - Send & reply message changes
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2077

#2063 FPET-878
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentEventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/ResponseToAllegationsOfHarm.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundlingCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentTaskErrorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentEventsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseToAllegationsOfHarmChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentTaskErrorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseToAllegationsOfHarmCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentSolicitorTaskListRendererTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2063

#2046 prl-5119/citizen_journey_remove_case_name_screen
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2046
