Repository hmcts/prl-cos-api, pull requests merged in 2024-09, with the labels that each got.

#2675 fixed CI build issue on PR
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/FeignRequestInterceptor.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2675

#2665 fixed SNI-6466 cannot complete 'review documents' event
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2665

#2512 refactor soa methods
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2512, aat/no-changes, prod/no-changes

#2503 Changes for response notifications
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2503

#2495 Feature/prl 5846
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2495

#2690 Ci build fix
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/FeignRequestInterceptor.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2690

#2666 Citizen AwP Fee Change
  src/main/java/uk/gov/hmcts/reform/prl/models/FeeType.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2666

#2490 HwF processing-Manual event to confirm partial remission #2278
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/HelpWithFeesController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/FM5ReminderNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ProcessUrgentHelpWithFees.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/HelpWithFeesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2490

#2504 Prl 5844
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2504

#2696 Prl 3456 send and reply messages migration test
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendAndReplyDynamicDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2696

#2588 PRL 6130 Courtnav Confidentiality changes
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Roles.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/DocumentManagementDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2588

#2704 PRL-6238 - fixed issues mentioned in the ticket
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2704

#2711 Fix for courtnav uploaded docs
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2711

#2671 FPET-1096 AWP Fee update for FL407 - Application for a warrant of arrest
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/FeeType.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2671

#2661 FPET-1094: Update FP25 fee
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/FeeType.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculator.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculatorTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2661

#2727 PRL-5843 - added missing applicant solicitor email template for c7 response submitted
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2727

#2629 Manage Cafcass Access
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managecafcassaccess/ManageCafcassAccessController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managecafcassaccess/ManageCafcassAccessControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2629

#2114 WA Applicant LiP flag
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/service-of-application.json
  src/functionalTest/resources/requests/soa-for-citizen-case-from-second-time.json
  src/functionalTest/resources/requests/soa-for-citizen-case.json
  src/functionalTest/resources/requests/soa-with-other-people.json
  src/functionalTest/resources/requests/soa-with-out-other-people.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2114

#2730 Merge FPET-927 changes to base branch
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendReplyTempDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2730

#2734 PRL-6284,PRL-6285 - Fixed to send notifications for respondent response when court staff uploads documents
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: enable_keep_helm

#2712 Respondents other proceedings docs
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2712

#2654 Link Order With Approval Journey
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ApproveAndServeClearFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/AdditionalProperties.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/ClientContext.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/TaskData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/UserTask.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/WaMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2654

#2527 PRL-5604
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2527

#2741 SNI-6559
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2741

#2754 Adding interpreter needs check
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/QueryParam.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2754
