Repository hmcts/prl-cos-api, pull requests merged in 2024-08, with the labels that each got.

#2465 fixed allocated judge details missing in summary tab
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2465

#2596 Sos pending items
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2596

#2586 FPET-1047: Remove list on notice notifications for CA cases
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2586

#2597 PRL-6128 - Citizen DA dashboard notifications
  src/main/java/uk/gov/hmcts/reform/prl/config/citizen/DashboardNotificationsConfig.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/citizen/NotificationNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/FL404.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/StmtOfServiceAddRecipient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2597

#2633 Prl sos handler correct c100 applicant non personal
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2633

#2651 corrected logic for C100 non personal Applciant pack creation conf de…
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2651

#2652 Sos for orders citizen
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2652

#2656 fixed SNI-6445 allocated judge event issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/gatekeeping/TierOfJudiciaryEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/AllocatedJudgeDetailsGeneratorTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2656

#1649 Citizen AWP payment & mapping changes
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/PaymentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/RemoveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/CombinedC2AdditionalOrdersRequested.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/OtherApplicationType.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/awp/CitizenAwpMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/citizen/awp/CitizenAwpRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/uploadadditionalapplication/Payment.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/RemoveDraftOrderFields.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CitizenAwpPayment.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/ServiceRequestReferenceStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/C100AwpProcessHwfPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100AwpProcessHwfPaymentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RemoveDraftOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/RemoveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/C100AwpProcessHwfPaymentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/C100AwpProcessHwfPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RemoveDraftOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1649, enable_keep_helm, aat/no-changes, prod/no-changes

#2443 FPET-990 service of application improvements
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoNotApplicable.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/SoaPack.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2443, aat/no-changes, prod/no-changes

#2502 LiP C100 C7 changes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/citizen/DocsSupportEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseApplicationResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseApplicantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2502, aat/no-changes, prod/no-changes

#2659 HwF-AWP-Processing-Cron-Job
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/awp/CitizenAwpMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/AwpProcessHwfPaymentTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AwpProcessHwfPaymentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/AwpProcessHwfPaymentTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AwpProcessHwfPaymentServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2659

#2470 HwF processing- Cron job for checking payment status
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataHelpWithFeesElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildHelpWithFeesElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/ServiceRequestReferenceStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/HwfProcessUpdateCaseStateTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HwfProcessUpdateCaseStateService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/HwfProcessUpdateCaseStateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HwfProcessUpdateCaseStateServiceTest.java
  src/test/resources/c100-rebuild/hwf.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2470

#2655 FPET-1109: Upload an Order - Add seal
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DocumentSealingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/familycourtseal-bilingual.png
  src/main/resources/familycourtseal.png
  src/test/java/uk/gov/hmcts/reform/prl/services/DocumentSealingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/documents/Document.docx
  src/test/resources/familycourtseal-bilingual.png
  src/test/resources/familycourtseal.png
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2655

#2624 FPET-1044-AWP Fee update for FC600
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/DaRespondentOtherApplicationType.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculator.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2624

#2628 FPET-1006 updated awp fee for c79 application
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculator.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2628

#2643 FPET-1034 AWP Fee update for EX740
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/uploadadditionalapplication/DaRespondentOtherApplicationType.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2643
