Repository hmcts/prl-cos-api, pull requests merged in 2024-07, with the labels that each got.

#2516 PRL-5941 - Added changes to group citizen documents into applicant, respondent & other documents
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocumentsManagement.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2516

#2290 Bot PRs (jar upgrades)
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2290

#2530 PRL-5939 - Added changes to include serve order additional docs into Other documents for Citizen
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2530

#2444 PRL-5431, PRL-5688 - Changes to enable/disable Citizen dashboard notifications
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2444

#2534 Prl 6069 fix test cases
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2534

#2542 C7 template fix
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendAndReplyDynamicDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2542

#2510 Temp unblocking the team to get access codes in lower env and refactor
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlLaunchDarklyFlagConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/events/NoticeOfChangeEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseinvite/CaseInvite.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManager.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/CaseInviteManagerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/FL401CaseInviteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2510

#2532 PRL-6068 cafcass api - include who child lives with
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/ChildDetailsCafcass.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/WhoDoesTheChildLiveWith.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2532

#2425 prl-5737/cafcass_solicitor_application_changes
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ChildDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ChildDetailsRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/ChildDetailsCafcass.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/WhoDoesTheChildLiveWith.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ChildDetailsRevisedChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ChildDetailsRevisedCheckerTest.java
  src/test/resources/c100-rebuild/cd.json
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2425

#2537 PRL-5866:Changes to display DB notifications
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2537

#2345 Initial commit for skipping edit and approve dropdown
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2345

#2536 Restrict the case access : Retrieve user role
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessControllerFunctionalTest.java
  src/functionalTest/resources/requests/restricted-case-access.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/QueryAttributes.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/RoleAssignmentQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/caseaccess/RestrictedCaseAccessControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2536

#2529 Remove deprecated properties-volume-spring-boot-starter
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/functionalTest/resources/requests/call-back-controller-update-application.json
  src/functionalTest/resources/requests/call-back-controller-withdraw-application.json
  src/functionalTest/resources/requests/fl401-add-case-number.json
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2529

#2373 Added miam data in cafcass response
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/DomesticAbuseEvidenceDocument.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2373

#2552 SNI-6220 changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2552, aat/no-changes, prod/no-changes

#2545 PRL-5979, PRL-5974 - Added changes to send RE7 & RE8 cover letter with access code for respondents after SOS
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/DocumentsNotifications.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/DocumentsNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2545

#2543 SNI-6178 changes to close work allocation task
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2543

#2585 Fpet 1046
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2585

#2584 PRL-6122 - SOS changes for application packs & orders
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/SosUploadedByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/StmtOfServiceAddRecipient.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2584

#2520 DA - Serve orders- non personal service- Screen changes
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2520, aat/no-changes, prod/no-changes

#2506 updated fees api details for C4 application to fetch correct fee
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2506, aat/no-changes, prod/no-changes

#2471 PRL-3466 - Added changes auto link case for primary applicant
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2471

#2521 Feature - Citizen view all docs
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocumentsManagement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2521

#2595 FPET-1055-PRL-BOT-PR
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2595

#2593 Update values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2593

#2487 PRL- 4146
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/FeeType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2487
