Repository hmcts/prl-cos-api, pull requests merged in 2024-05, with the labels that each got.

#2340 Fixed SNI-5740 welsh doc issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2340

#2342 feature/nudge-fm5-reminder-notification-solicitors :inital commit
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/PartyType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenEmailVars.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/main/resources/staticdocs/FM5_Blank.pdf
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2342

#2301 SNI-5678 loss of order changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/StandardDirectionOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2301

#2350 feat/PRL-5643 - FM5 reminder notifications task
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SearchResultResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/FM5ReminderNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/main/java/uk/gov/hmcts/reform/prl/tasks/ScheduledTaskRunner.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2350

#2321 System Rule Logic Impl
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/FmPendingParty.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/PartyType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenEmailVars.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/HearingUtils.java
  src/main/resources/application.yaml
  src/main/resources/staticdocs/FM5_Blank.pdf
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2321

#2325 updated supressions
  build.gradle
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2325

#2348 comment out state deletion in submit event
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/payment/CreatePaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/PaymentRequestServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2348

#2363 PRL-5710 - SOA personal service C9 form issue fixes
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2363

#2320 Feature/prl 5457 wa awp new
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/amroles/InternalCaseworkerAmRolesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/events/CaseFlagsEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseFlagsEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/user/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/UploadAdditionalApplicationUtils.java
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails_v3.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseFlagsEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaServiceTest.java
Labels: ns:private-law, prd:prl, AWP-Solicitor, enable_keep_helm, rel:prl-cos-pr-2320

#2333 FPET-958
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2333

#2387 Fpet 939 upload timestamp demo
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2387

#2382 PRL-5605 Nudge Citizen changes - Move FM5 document directly to Case d…
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2382

#2327 FPET-956: fixed sonar high severity issuer
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2327

#2394 Added change to populate solicitor party Id
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2394

#2392 Feature/PRL-5566 - FM5 system rules & reminders for citizen
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/FmPendingParty.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SearchResultResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/FM5ReminderNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocumentsManagement.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/PartyType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenEmailVars.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/Fm5ReminderNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/tasks/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails_v3.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/application.yaml
  src/main/resources/staticdocs/FM5_Blank.pdf
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2392

#2137 FPET-412
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2137

#2385 Added missing V3 condition
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ApplicantsListGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2385

#2379 Fix/prl cos api container running as root
  Dockerfile
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2379

#2393 fix/health_check :Added healthcheck
  Dockerfile
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2393

#1569 Prl 4033 urgent case creation poc
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlLaunchDarklyFlagConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseCreatedBy.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsChecker.java
  src/main/resources/C100_Dummy_Draft_admin_CaseDetails.json
  src/main/resources/C100_Dummy_Draft_admin_CaseDetails_v3.json
  src/main/resources/FL401_Dummy_Draft_admin_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/AssignCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1569, enable_keep_helm

#2288 Allegations of harm, C7 submission and respondent doc management
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CitizenCaseUpdateControllerFunctionalTest.java
  src/functionalTest/resources/requests/citizen-update-case.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100SafetyConcerns.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/Response.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenAllegationOfHarmElementsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseServiceTest.java
  src/test/resources/aohwithabuductiondata.json
  src/test/resources/respondentaohdata.json
  src/test/resources/respondentaohdatanoad.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2288

#2411 Ignored functional test
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2411

#2412 Fixed functional test
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2412

#1935 FPET-488: Solicitor child details changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1935

#2249 PRL-5406
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2249

#2374 Feature/nudge coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/schedule/Fm5ReminderNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/Fm5ReminderNotificationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/tasks/ScheduledTaskRunnerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2417 Fixed code smells
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2417

#2388 Fix/code owners filee
  CODEOWNERS
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2388

#2407 Fix/set permission GitHub
  .github/workflows/ci.yml
  Dockerfile
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2407

#2375 PCQ for Respondent on CA citizen cases
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/User.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2375

#2377 Respondent respond to AOH
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/User.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/ResponseToAllegationsOfHarm.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2377

#2409 C100 ITHC Vulnerabilities fix
  .github/workflows/ci.yml
  CODEOWNERS
  Dockerfile
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2409

#2332 prl-5509/personal-service-order-app-lip
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/OrderEmailConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/OrderEmailNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2332

#2419 Functional test cases
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassUploadDocumentFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerFT.java
  src/functionalTest/resources/requests/c100-respondent-solicitor-call-back-controller.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2419

#2381 Functional Test Case Update for PRL-COS-API
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/noticeofchnage/NoticeOfChangeControllerFunctionalTest.java
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2381

#2408 Court name change
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2408

#2391 MIAM Citizen Policy Change: Backend Mapping work
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenChildProtectionConcernEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenDomesticAbuseReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenExemptionsReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenOtherGroundsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenPreviousAttendanceReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamCitizenUrgencyReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMiamElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/C100RebuildMiamElements.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/User.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/solicitorresponse/ResponseToAllegationsOfHarm.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseServiceTest.java
  src/test/resources/application.yaml
  src/test/resources/c100-rebuild/miam.json
  src/test/resources/c100-rebuild/miam1.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2391

#2316 PRL-5565 - Feature Nudge/FM5 solicitor reminder changes
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/Application.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofapplication/Fm5PendingParty.java
  src/main/java/uk/gov/hmcts/reform/prl/models/SearchResultResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/documents/Document.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/FM5ReminderNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notification/PartyType.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/CitizenEmailVars.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/Fm5ReminderNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/tasks/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails_v3.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/application.yaml
  src/main/resources/staticdocs/FM5_Blank.pdf
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/Fm5ReminderNotificationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/tasks/ScheduledTaskRunnerTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2316

#2401 Court nav case assignment to court
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlLaunchDarklyFlagConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/resources/FL401_CourtNav_Draft_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2401

#2430 SNI-5901
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2430

#2415 FPET-980 removed notic of safety document from SOA
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2415

#2440 PRL-5741 - Fixed citizen soa packs vanished after multiple SOA
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2440

#2180 changed values.preview.template.yaml file
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2180

#2123 order type id and order type differentiation corrected
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CreateSelectOrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ApplicantsListGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ElementUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2123

#2224 Fpet 912 power of arrest
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2224

#2177 FPET-913
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2177
