Repository hmcts/prl-cos-api, pull requests merged in 2024-12, with the labels that each got.

#2904 loggers added/removed
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2904

#2867 FPET-1179 case flag updates for amend scenario
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2867

#2910 FPET-1200-Cafcass Integration tests
  Jenkinsfile_CNP
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/AddCafcassOfficerControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrderControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnOrderControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ListOnNoticeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageDocumentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ResubmitControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/SendGridIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/SendLetterIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitiorControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationReponseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseSubmissionNotificationControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingManagementControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/noticeofchnage/NoticeOfChangeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/requests/courtnav-request.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2910

#2912 Fix so mortage lender address is populated.
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2912

#2753 Cafcass & Pathfinder WA Task changes
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/closingcase/ClosingCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/reopenclosedcases/ReopenClosedCasesControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/closingcase/about-to-start.json
  src/functionalTest/resources/requests/closingcase/about-to-submit.json
  src/functionalTest/resources/requests/closingcase/mid-event.json
  src/functionalTest/resources/requests/closingcase/validate-child-details.json
  src/functionalTest/resources/requests/reopenclosedcases/about-to-submit.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/closingcase/ClosingCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/reopenclosedcases/ReopenClosedCasesController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ClosingCaseFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/closingcase/CaseClosingReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/managedocuments/CafcassReportAndGuardianEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/reopenclosedcases/ValidReopenClosedCasesStatusEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ApplicantChild.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Child.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ChildDetailsRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildDetailsRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/closingcase/CaseClosingReasonForChildren.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/closingcase/DateFinalDecisionWasMade.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/tab/summarytab/CaseSummary.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/tab/summarytab/summary/CaseClosedDate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/closingcases/ClosingCaseOptions.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/RoleAssignmentQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/deleteroleassignment/RoleAssignmentDeleteQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/closingcase/ClosingCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reopenclosedcases/ReopenClosedCasesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/CaseClosedDateGenerator.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/closingcase/ClosingCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/reopenclosedcases/ReopenClosedCasesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/closingcase/ClosingCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reopenclosedcases/ReopenClosedCasesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/CaseClosedDateGeneratorTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2753

#2796 Prl soa cover letters welsh
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/OtherProceedingsGenerator.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/OtherProceedingsGeneratorTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2796

#2863 PRL-6559 - Populate nearest court name based on child post code for C100 cases submitted by Citizen
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2863

#2883 PRL-6564 Hearing status change notification to court admin
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingTaskData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2883

#2744 Prl 6309 validation error when no party selected
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2744

#2911 ADDJSONIgnore
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/ClientContext.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2911

#2906 6716
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2906

#2909 prl-6689/enable AWP supporting documents for citizens
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2909

#2907 COS changes for Citizen medium priority fixes
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenNotification.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2907

#2918 added loggers
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2918

#2901 Cafcass user access
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2901

#2920 PRL-6779 - Fix CCD 0 id in case data issue for courtnav cases
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2920

#2296 HearingId storing for option 2
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2296

#2914 Courtnav bug fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/HomeDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2914
