Repository hmcts/prl-cos-api, pull requests merged in 2024-11, with the labels that each got.

#2856 Feature/c8 refuge sonar upgrades
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckServiceTest.java
  src/test/resources/c100-rebuild/oprs1.json
  src/test/resources/c100-rebuild/oprs2.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2856

#2861 FPET-1174: Add FM5 statements to bundle
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2861

#2858 Filter citizen awp for the applied & logged in party
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2858

#2853 removed all tabs update call
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendCourtService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendCourtServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2853

#2868 PRL-6612 - Fixed to move citizen uploaded docs to any other documents category after review
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/DocumentCategory.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2868

#2848 PRL-6483 - Review Kubernetes requests & limits for memory & cpu usage
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2848

#2870 PRL-6483 - Review CPU, Memory requests & limits
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2870

#2871 PRL-6622: Fix populating citizen respondent C8 document
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2871

#2513 FPET-981-disabled emails on transfer to court selection from dropdown
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendCourtService.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/TransferToAnotherCourtEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendCourtServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2513

#2875 Feature/c8 refuge policy changes epic bug fixes
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/confidentiality/KeepDetailsPrivate.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2875

#2876 Bug fixes
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2876

#2880 Initial commit
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2880

#2757 FPET-1130
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseinitiation/CaseInitiationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseinitiation/CaseInitiationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2757

#2872 Added Source param for elastic search
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/QueryParam.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2872

#2762 FPET-1147 including Anex1 to SOA pack for DA cases
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2762

#2888 Required case data fields added, are made null when sending to cafcass
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2888

#2891 Cafcass parameters corrected for upload docs
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/ApplicantDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2891

#2869 FPET-1182
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2869

#2898 miamCertificationDocumentUpload duplication removed
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2898

#2894 SNI-6887: Fix for reviewing solicitor response documents
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2894

#2889 6702
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2889

#2775 PRL- 6384
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/AwpApplicationReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2775
