Repository hmcts/prl-cos-api, pull requests merged in 2024-10, with the labels that each got.

#2756 Revert "SNI-6559"
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2756

#2760 Publish HearingDate for delayed Product Hearing Bundle WA Task
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2760

#2344 Prl mandatory n optional
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2344

#2726 FPET-1056 including annex 1 document
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/resources/staticdocs/Annex 1 - Confidential contact details notice - welsh.pdf
  src/main/resources/staticdocs/Annex 1 - Confidential contact details notice.pdf
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2726

#2746 FPET-1074
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/utils/PartiesListGenerator.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2746

#2769 fixed FPET-1153 confidentially event issue
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2769

#2773 Temp fix - Added @Ignore for functional tests to fix build issues
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/AddCafcassOfficerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/AddCaseNoteControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerFuntctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/C100IssueCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CitizenCaseUpdateControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/FL401SubmitApplicationControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/LinkCitizenCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/MiamPolicyUpgradeControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/OtherProceedingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ResetAccessCodeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ResubmitControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceRequestUpdateCallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/TaskListControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassUploadDocumentFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/AllocateJudgeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingManagementControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/noticeofchnage/NoticeOfChangeControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2773

#2772 Add null check for respondent confidentiality list
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2772

#2776 Prl deployment issues fix
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2776

#2779 UAT issue fixes
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataSafetyConcernsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AllegationOfHarmRevisedService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RespondentAllegationOfHarmService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2779

#2783 update non personal gov notify template id
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2783

#2713 FPET-995: Update bundle configuration
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2713

#2789 Fix functional test
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2789

#2771 added logic to remove c1a document
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2771

#2790 FM5 - Fixed load default size 100 cases for FM5 nudge notifications
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2790

#2794 Test Cases
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2794

#2795 Prl link citizen null pointer fix
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/LinkCitizenCaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2795

#2437 feature/restrict-the-case-access
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/cafcass/CafcassApiConsumerCcdSearchCaseApiTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/fee/FeeApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/listwithoutnotice/CaseLinedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/CommonRefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/JudicialUsersApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataOrganisationalInternalUsersConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdata/ReferenceDataStaffUserConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/refdatacategory/RefDataCategoryApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/roleassignment/AmRoleAssignmentApiTest.java
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/sendletter/SendLetterApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/restricted-case-access.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/CcdCoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/ExtendedCaseDataApi.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/restrictedcaseaccessmanagement/CaseSecurityClassificationEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ccd/AboutToStartOrSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/restrictedcaseaccessmanagement/CaseAccessStatusAndReason.java
  src/main/java/uk/gov/hmcts/reform/prl/models/extendedcasedetails/ExtendedCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/QueryAttributes.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/addroleassignment/RoleAssignmentQueryRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/schedule/UpdateHearingActualTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/extendedcasedataservice/ExtendedCaseDataService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/caseaccess/RestrictedCaseAccessControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/schedule/UpdateHearingActualTaskTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CcdCoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/extendedcasedataservice/ExtendedCaseDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, restricted-case-access, enable_keep_helm, rel:prl-cos-pr-2437, aat/no-changes, prod/no-changes

#2731 Da solicitor release
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerFT.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ApproveAndServeClearFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/SendOrReplyDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/getroleassignment/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/AllocatedJudgeForSendAndReply.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageHistory.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/MessageMetaData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendAndReplyDynamicDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendReplyTempDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/AdditionalProperties.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/ClientContext.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/TaskData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/UserTask.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/WaMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2731

#2799 remove functional tests step to fix issues
  Jenkinsfile_CNP
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2799

#2793 Citizen case progression walkthrough fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataSafetyConcernsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenRespondentAohElementsMapper.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2793

#2803 added null point check for confirmation header and body for NotApplic…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2803

#2804 Citizen DA walkthrough fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2804

#2808 FPET-1023 externl message changes
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2808

#2809 remove jsoninclude for nonnull fields
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2809

#2812 Fix for mange order
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2812

#2813 dateSubmitted added after help with fees
  src/main/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2813

#2792 Sni 6732
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2792

#2814 PRL-6340: Role label incorporated with Specific filter
  src/main/java/uk/gov/hmcts/reform/prl/clients/RoleAssignmentApi.java
  src/main/java/uk/gov/hmcts/reform/prl/models/roleassignment/getroleassignment/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2814

#2830 C8 refuge policy changes sonar test
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2830

#2811 Feature/c8 refuge policy changes mapping
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckService.java
  src/test/resources/c100-rebuild/appl.json
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-2811

#2829 C8 refuge policy changes sonar
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/refuge/RefugeCaseGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseRevisedCheckerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2829

#2791 Sonar Coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/refuge/RefugeCaseGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2791

#2810 C8 refuge other parties
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/refuge/RefugeDocumentHandlerParameters.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2810

#2843 Feature/c8 refuge coverage test
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2843

#2833 Cafcass additional changes
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/utils/TestConstants.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/util/TestConstants.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/DocTypeOtherDocumentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2833

#2846 Feature/c8 refuge policy changes bug fixes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2846

#2758 PRL-6243 Service of documents changes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/serviceofdocuments/ServiceOfDocumentsConfCheckController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/serviceofdocuments/ServiceOfDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofdocuments/AdditionalRecipients.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofdocuments/ServiceOfDocumentsCheckEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofdocuments/SodCitizenServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serviceofdocuments/SodSolicitorServingRespondentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/citizen/NotificationNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/DocumentsDynamicList.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofdocuments/SodPack.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bulkprint/BulkPrintDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/citizen/CitizenDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/serviceofapplication/EmailNotificationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofapplication/ServedApplicationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/serviceofdocuments/ServiceOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/dynamicmultiselectlist/DynamicMultiSelectListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/serviceofdocuments/ServiceOfDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/serviceofdocuments/ServiceOfDocumentsConfCheckControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/serviceofdocuments/ServiceOfDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DynamicMultiSelectListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/serviceofdocuments/ServiceOfDocumentsServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2758

#2854 CFV fixes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2854
