Repository hmcts/prl-cos-api, pull requests merged in 2024-04, with the labels that each got.

#2260 PRL-5365/serve_order_to_unrepresented_applicant: Initial commit
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2260

#2128 PRL-5320: CA Personal service by Applicant Solicitor - Welsh email
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2128

#2183 PRL-5314: Serve order - CA Personal service by unrepresented Applicant to Respondent- welsh Email
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2183

#1297 POC: Removing the historical Bundles and Bundle Folder
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/functionalTest/resources/requests/bundle/CreateBundleRequest.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/BaseCaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
Labels: ns:private-law, prd:prl, PET_TEAM, enable_keep_helm, rel:prl-cos-pr-1297

#1647 PRL-4199: Added changes for court admin test case creation
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/resources/C100_Dummy_Draft_admin_CaseDetails.json
  src/main/resources/FL401_Dummy_Draft_admin_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-1647, enable_keep_helm

#2281 PRL-5316: Serve order - DA Personal service by unrepresented Applicant to Respondent-welsh Email
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2281

#2090 PRL-5074: Update case details in exui tabs
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/c100-respondent-solicitor-C1A.json
  src/functionalTest/resources/requests/c100-respondent-solicitor-c1adraft-generate.json
  src/functionalTest/resources/requests/c100-respondent-solicitor-c1afinal-generate.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/LinkCitizenCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ChildAbuseEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/CitizenUpdatedCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/respondentsolicitor/documents/RespondentDocs.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/language/DocumentLanguage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderElements.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/LinkCitizenCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentAllegationsOfHarmCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2090

#2280 Prl 3456 send and reply messages
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/sendandreply/SendOrReplyMessage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/SendAndReplyControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2280

#2222 Feature/prl 5222 personal soa responsible name
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2222

#2226 Citizen language support notes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/ReasonableAdjustmentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/EventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/request/LanguageSupportCaseNotesRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2226

#2276 upgraded jar to fix cve errors
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2276

#2287 feature/miam-ammend-journey
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2287

#2299 Moved the events to CaseEvent which will be available for all common …
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/cafcass/CafcassAppConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2299

#2277 init pr
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/resources/response/CafCaasResponseWithRegion.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2277

#2295 PRL-5502
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ReturnApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2295

#2307 Sonar fixes
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseApplicationResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseApplicantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2307

#2297 MIAM EX UI Policy Change - File Upload
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/MiamPolicyUpgradeControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/MiamPolicyUpgradeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReturnApplicationReturnMessageController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamExemptionsChecklistEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/miampolicyupgrade/MiamPolicyUpgradeChildProtectionConcernEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/MiamPolicyUpgradeExemptions.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/MiamPolicyUpgradeDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamPolicyUpgradeMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AddCafcassOfficerService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWorkerEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CourtFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/MiamPolicyUpgradeFileUploadService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/MiamPolicyUpgradeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RespondentAllegationOfHarmService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/C100DocumentTemplateFinderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/MiamPolicyUpgradeChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/MiamPolicyUpgradeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/PrePopulateFeeAndSolicitorNameControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/MiamPolicyUpgradeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/MiamPolicyUpgradeFileUploadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/MiamPolicyUpgradeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/MiamPolicyUpgradeCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2297

#2306 prl-5569/fm5_form_solicitor_upload
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2306

#2082 PRL-4449-DA-List-on-Notice
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerFT.java
  src/functionalTest/resources/requests/call-back-controller-fl401-gatekeeping-case-data.json
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/ListOnNoticeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/fl401listonnotice/Fl401ListOnNoticeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2082

#2309 SNI-5695
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2309

#2322 Respondant personal service pack addition
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2322

#2330 SNI-5695-commented FT since it was failing on master
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/fl401listonnotice/Fl401ListOnNoticeControllerFT.java
Labels: enable_keep_helm

#2329 Regenerate C100 draft document for Case resubmission
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2329

#2318 SNI_5696 changes completed
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/OtherProceedingsControllerFunctionalTest.java
  src/functionalTest/resources/requests/other-proceedings/C100-case-data.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/OtherProceedingsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OtherProceedingsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/OtherProceedingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/OtherProceedingsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2318

#2326 Integrational and functional test cases added
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/auto-hearing-case-data-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/requests/auto-hearing-case-data-request.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2326

#2317 Base code for test cases of PRL-5478
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/auto-hearing-case-data-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/requests/auto-hearing-case-data-request.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2317

#2324 SOA - Added new President's note & removed mediation voucher from soa packs
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/resources/staticdocs/Family President's letter to parties.pdf
  src/main/resources/staticdocs/Mediation-voucher.pdf
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2324

#2331 SOA LiP - Added new President's note & removed mediation voucher
  src/main/java/uk/gov/hmcts/reform/prl/config/templates/Templates.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/resources/staticdocs/Family President's letter to parties - Welsh.pdf
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2331
