Repository hmcts/prl-cos-api, pull requests merged in 2024-03, with the labels that each got.

#2132 Bug Fix - Case flags removed on amend applicant/respon
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-cos-pr-2132

#2093 swaggerFix
  build.gradle
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2093

#2147 Courtnav fix with RA changes
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/WelshCourtEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2147

#2169 fixed nightly function test failures
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2169

#2155 FPET-904-fixed Functional Test cases for manage orders controller
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2155

#2158 SOA - Pick post contact preference --CA personal service - Applicant LIP (citizen initiated) confidentiality check
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2158

#2162 Remove BundlingController.java from sonar exclusion.
  README.md
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/BundlingControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2162

#2156 Prl 5323 c7 document welsh
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseApplicationResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseApplicantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2156

#2136 PRL-5349-SDO-Checkbox-content-welsh-docmosis-changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoTransferApplicationReasonEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2136

#2165 fix/ccd-concurrency-alltabs
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseInitiationControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/records/StartAllTabsUpdateDataContent.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportCreateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ReviewDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/gatekeeping/ListOnNoticeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/migration/MigrationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/courtnav/CourtNavCaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImplTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2165

#2189 Updated junit for ccd concurrency fixes
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: enable_keep_helm

#2134 PRL-5190 Serve order - CA Personal service by unrepresented Applicant to Respondent-Email
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2134

#2193 Fixed test case task list
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListServiceTest.java
Labels: enable_keep_helm

#2149 FPET-905 changes completed
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2149

#2201 Updated junit for ccd concurrency fixes
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
Labels: enable_keep_helm

#2115 PRL-5203-CA-Personal-Service-Unrepresented-Applicant-Post
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/cafcass-cymru-send-email-request.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2115

#2168 PRL-5387 - Unrepresented applicant/Citizen case SOA personal service court bailiff/court admin
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2168

#2202 Junit Fix for HearingManagementServiceTest and CaseEventHandlerTest
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2202

#2210 Adding missing Category document as part of Manage documents
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2210

#2211 test case added
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2211

#2215 Fix/ccd fix code coverage
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2215

#2121 2806 cos
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/c100-respondent-solicitor-C1A.json
  src/functionalTest/resources/requests/c100-respondent-solicitor-c1adraft-generate.json
  src/functionalTest/resources/requests/c100-respondent-solicitor-c1afinal-generate.json
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2121

#2101 prl_2692_Respondent_Solicitor_C7_Docmosis_Welsh: Update PR URLs
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/respondentsolicitor/documents/RespondentDocs.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/c100respondentsolicitor/RespondentSolicitorData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/language/DocumentLanguage.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderElements.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentAllegationsOfHarmChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/RespondentAllegationsOfHarmCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2101

#2160 Suppress DA journey in Citizen application
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2160

#2142 [******DO NOT MERGE *****]Initial PR for role access integrationInitial push for am role assignment
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/amroles/InternalCaseworkerAmRolesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/user/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2142

#2096 Fpet 866-Fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2096

#2178 Fixed SNI-5522
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2178

#2088 PRL-5266-CA-List-without-notice
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/listwithoutnotice/ListWithoutNoticeController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2088

#2230 Update values.preview.template.yaml
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.aat.template.yaml
  charts/prl-cos/values.preview.template.yaml
  charts/prl-cos/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2230

#2248 removing case name from ts support json file
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2248

#2208 Feature/PRL-5457-wa-awp
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/UploadAdditionalApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/SolicitorRole.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsFeeCalculator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2208

#2250 init cos
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFunctionalTest.java
  src/functionalTest/resources/requests/draft-order-with-options-request.json
  src/functionalTest/resources/requests/fl401-service-of-application-personal-service-ca.json
  src/functionalTest/resources/requests/fl401-service-of-application-personal-service-lr.json
  src/functionalTest/resources/requests/service-of-application-ready-to-serve.json
  src/functionalTest/resources/requests/service-of-application.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2250

#2254 Prod build functional test fix
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2254

#2061 Add functional tests
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2061

#2050 safety concerns for a single child fix
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/c100-rebuild/saftycrnsForASingleChild.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2050

#2171 PRL-5411
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2171

#2243 Soa common branch with contact preferences
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2243

#2269 To be merged demo
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseApplicationResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseApplicationResponseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseApplicantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2269

#2242 SDO hotfix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/PartiesListGenerator.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2242
