Repository hmcts/prl-cos-api, pull requests merged in 2024-01, with the labels that each got.

#1925 PRL-4600 Direction to admin
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1925

#1881 court admin upload
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1881

#1869 Order tab changes
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/CallBackRequestForDraft.json
  src/functionalTest/resources/CallBckReqForCreateOrUpdOrder.json
  src/functionalTest/resources/CallBckReqForFinaliseServeOrder.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/requests/manage-order-fetch-children-request-integration.json
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AmendOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RefDataUserService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/AmendOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1869

#1968 FPET-818: CA Respondent previous address details fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1968

#1956 FPET-813 Removed event for case deletion event as there is no need to remove data field after updating status
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DeleteApplicationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1956

#1975 Revert "FPET-813 Removed event for case deletion event as there is no need to remove data field after updating status"
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DeleteApplicationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1975

#1976 Revert "Revert "FPET-813 Removed event for case deletion event as there is no need to remove data field after updating status""
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DeleteApplicationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/State.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CaseDeletionControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1976

#1923 Hearing Screen replacement for judge journey
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrderControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1923

#1938 Prl 4831 lr rejection scenario
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OrderStatusEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/editandapprove/OrderApprovalDecisionsForCourtAdminOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/editandapprove/OrderApprovalDecisionsForSolicitorOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/ManageOrderEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1938

#1954 SNI-5036 fixed
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/gatekeeping/AllocatedJudgeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1954

#1903 ***DO NOT MERGE*** Serve order common branch
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/DgsApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/DeliveryByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/DeliveryByEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/manageorders/serveorders/ServeOrgDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1903

#1888 Serve order - CA & DA personal service options display
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/ServeOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/resources/FL401_Dummy_Gatekeeping_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1888

#1713 Feature/serve order doc2 pd
  charts/prl-cos/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/DgsApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1713

#1982 Edit a returned order - Legal rep - uploaded orders flow
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1982

#1929 PRL-4832 -Manager order approval journey
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1929

#1984 Disable Notice of Proceeding for Solicitor
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/DraftOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1984

#1977 PRL-4631:renamed FHDRA field
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoHearingsAndNextStepsEnum.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1977

#1978 FPET-826: Fix displayed values in application and parties tabs
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/YesNoDontKnow.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/OtherPersonInTheCase.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/OtherPersonInTheCaseRevised.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1978

#1971 FPET-820: Add amend event for children and respondents
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ChildrenAndRespondentRelation.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1971

#1989 FPET-829: Add amend children and other people event
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ChildrenAndOtherPeopleRelation.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1989

#2007 PRL 5006 - Bulk scan docs changes
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2007

#2014 fix respondent submit checker
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2014

#1997 Fept 850 litigation capacity
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/c100-respondent-solicitor-call-back-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/abilitytoparticipate/AbilityToParticipate.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/ResponseSubmitChecker.java
  src/main/resources/Dummy_Respondent_Tasklist_Data.json
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/AbilityToParticipateCheckerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1997

#1782 Hearing task creation change
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/requests/court-admin-manage-order-judge-approval-required-many-hearing-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-judge-approval-required-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-manager-approval-required-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-noapproval-required-request.json
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/functionalTest/resources/requests/draft-order-with-options-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-1hearing-judgereject-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-1hearing-jugappr-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-manyhearing-jugappr-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-nohearing-judgeappr-request.json
  src/functionalTest/resources/requests/judge-draft-order-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-1hearing-judge-appr-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-1hearing-judge-appr-with2nd-option-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-manyhearing-judgeappr-request.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1782

#1965 edit returned order
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/editreturnedorder/CallBackRequestEditReturnedOrder.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnOrderControllerIntegrationTest.java
  src/integrationTest/resources/requests/call-back-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1965

#1958 Serve order - CA&DA personal service via Applicant solicitor email
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1958

#1921 Manage order - Judge approval journey- Approval scenarios
  README.md
  charts/prl-cos/Chart.yaml
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/functionalTest/resources/requests/court-admin-manage-order-judge-approval-required-many-hearing-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-judge-approval-required-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-manager-approval-required-request.json
  src/functionalTest/resources/requests/court-admin-manage-order-noapproval-required-request.json
  src/functionalTest/resources/requests/draft-order-sdo-with-options-request.json
  src/functionalTest/resources/requests/draft-order-with-options-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-1hearing-judgereject-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-1hearing-jugappr-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-manyhearing-jugappr-request.json
  src/functionalTest/resources/requests/draft-ordr-judge-edit-approve-soli-nohearing-judgeappr-request.json
  src/functionalTest/resources/requests/editreturnedorder/CallBackRequestEditReturnedOrder.json
  src/functionalTest/resources/requests/judge-draft-order-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-1hearing-judge-appr-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-1hearing-judge-appr-with2nd-option-request.json
  src/functionalTest/resources/requests/judge-edit-approve-court-admin-manyhearing-judgeappr-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnOrderControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/integrationTest/resources/requests/call-back-controller.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ApproveAndServeClearFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/OrderStatusEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/editandapprove/OrderApprovalDecisionsForCourtAdminOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/editandapprove/OrderApprovalDecisionsForSolicitorOrderEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/DraftOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherDraftOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/OtherOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ManageOrders.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/ManageOrderEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1921

#2019 FT fix
  README.md
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/resources/requests/editreturnedorder/CallBackRequestEditReturnedOrder.json
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2019

#2024 Feature/case flags 2 1 noc org
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2024

#2010 MVP SOA - Court admin & Court Bailiff Packs & Service of application Tab - CA Personal service
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/serviceofapplication/SoaPack.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ServiceOfApplication.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/SendgridEmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2010

#2022 Init Pr
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ServeOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2022

#1998 SOA - Safety notice, Special arrangements letter, C6A validation & size Check
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerFT.java
  src/functionalTest/resources/requests/soa-with-other-people.json
  src/functionalTest/resources/requests/soa-with-out-c6a-orders.json
  src/functionalTest/resources/requests/soa-with-out-other-people.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-1998
