Repository hmcts/prl-cos-api, pull requests merged in 2025-02, with the labels that each got.

#2987 restricted case access fixes
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessControllerFunctionalTest.java
  src/functionalTest/resources/requests/restricted-case-access.json
  src/main/java/uk/gov/hmcts/reform/prl/enums/restrictedcaseaccessmanagement/CaseSecurityClassificationEnum.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2987

#2988 PRL-6936: Fix PCQ issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2988

#2985 Citizen tech release issue fixes
  charts/prl-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataReasonableAdjustmentsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2985

#2892 Prl 5766
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/request/Match.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/hearingmanagement/HearingsManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearingmanagement/HearingManagementServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2892

#2993 DA Contact information update
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2993

#2996 prl-6815
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/services/C100IssueCaseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UserRoleService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UserRoleServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2996

#3008 PRL-6975 - Fixed to handle bulk scan docs where case load failed for citizens
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherProceedingsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3008

#2992 Fpet 1262 Reduce Logging
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/BundlingController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenCaseUpdateController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/awp/CitizenAwpMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/AwpProcessHwfPaymentService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/PaymentRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RequestUpdateCallbackService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2992

#2945 FPET-1246
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/config/Features.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ExampleService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ExampleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeatureToggleServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2945

#3017 PRL-6975 - Fixed to handle bulk scan docs where case load failed for citizens
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CaseService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3017

#3010 PRL-5478 changes(DO NOT MERGE)
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerFunctionalTest.java
  src/functionalTest/resources/requests/auto-hearing-case-data-request.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/ManageOrderControllerIntegrationTest.java
  src/integrationTest/resources/requests/CallBackRequest.json
  src/integrationTest/resources/requests/auto-hearing-case-data-request.json
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/HearingRequestDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3010

#3002 FPET-1255 Inconsistent Null check fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3002

#2982 Prl 6918/cafcass issues
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherChildrenDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataRespondentDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/reviewdocument/ReviewDocumentService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2982

#3013 PRL-6985: RPA fix
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/ApplicantsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/AttendingTheHearingMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/ChildDetailsRevisedMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherChildrenNotInTheCaseMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/OtherPeopleInTheCaseRevisedMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapper.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3013

#3018 FPET-1235 java 21 upgrade
  Dockerfile
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3018

#3043 java 21 build failure issue
  build.gradle
  gradle.properties
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3043

#3044 FPET-1235 java 21 upgrade changes
  .github/workflows/ci.yml
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3044

#3045 FPET-1235 java upgrade. corrected jvmargs config
  gradle.properties
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3045
