Repository hmcts/prl-cos-api, pull requests merged in 2025-08, with the labels that each got.

#3253 FPVTL-Cleanup preview after STC release
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3253

#3250 Fpvtl 605 fm5 additional fix branch
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3250

#3220 FPVTL-915: Enabling Hearing bypass on preview
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/prl/clients/HearingApiClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/clients/hearing/HearingApiBypassClientIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/HearingSupportControllerDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/HearingSupportControllerPresentTest.java
  src/integrationTest/resources/controller/sampleListedHearing.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/prl/clients/hearing/HearingApiBypassClient.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/HearingSupportController.java
  src/main/resources/application.yaml
  src/main/resources/hearingBypassResponse.json
  src/test/java/uk/gov/hmcts/reform/prl/clients/hearing/HearingApiBypassClientTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/HearingSupportControllerTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3220

#3268 FPVTL-842 Remove Barrister As Solicitor
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/AbstractBarristerService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3268

#3258 FPVTL-1048: Barrister removal when new solicitor replaces a solicitor using NOC
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/CaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/BarristerRole.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/InvalidSolicitorRoleException.java
  src/main/java/uk/gov/hmcts/reform/prl/models/Features.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/clients/ccd/CaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/enums/noticeofchange/BarristerRoleTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3258

#3276 FPVTL-1097: Modify which documents get put into bundles
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3276
