Repository hmcts/prl-cos-api, pull requests merged in 2025-05, with the labels that each got.

#3115 FPVTL-533 Populate required fields for refuge cases
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapperTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3115

#3122 FPVTL-605 Add extra logging to diagnose fm5 notification failures
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3122

#3124 FPVTL-605 add extra logging to investigate how cases are filtered for FM5
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3124

#3123 FPVTL-561
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3123

#3131 FPVTL-605 add new logging for FM5 notifications for testing
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3131

#3102 FPVTL-129: change seal logic so it uses the case region instead of the language
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DocumentSealingService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DocumentSealingServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3102

#3137 FPVTL-605 Checking date comparison for FM5 function for sorted hearings
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3137

#3140 Update TS-Support draft cases to be complete on creation
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/FL401_Dummy_Draft_CaseDetails.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3140
