Repository hmcts/prl-cos-api, pull requests merged in 2025-09, with the labels that each got.

#3273 FPVTL-1050: Add barrister info to tabs
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseAssignmentControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/Barrister.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Applicant.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/FL401Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/Respondent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3273

#3285 FPVTL-1093: Barrister removal when associated solicitor is removed by caseworker
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3285

#3283 Fpvtl 1086 add validation on startevent
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3283

#3288 FPVTL-1095: Do not override the submitted date of a case when processing HWFs
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HelpWithFeesServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3288

#3287 Fpvtl 1102 add barrister notifications
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerFunctionalTest.java
  src/functionalTest/resources/controller/barrister-submitted-request-casedata-body.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerIntegrationTest.java
  src/integrationTest/resources/controller/barristerSubmittedCallBackRequest.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/CaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/barrister/TypeOfBarristerEventEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/events/BarristerChangeEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/BarristerChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/barrister/AllocatedBarrister.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/notify/BarristerEmail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/AbstractBarristerService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/BarristerChangeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3287

#3278 FPVTL-1018 - Barrister stop representing event
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/AbstractBarristerService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerFilter.java
  src/main/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/barrister/BarristerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerAddServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/barrister/BarristerRemoveServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3278

#3299 FPVTL: Remove Barrister fix
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3299

#3302 Point preview to master
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3302

#3300 Fpvtl 1116 admin create barrister flag sa
  charts/prl-cos/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/CaseAssignmentControllerIntegrationTest.java
  src/integrationTest/resources/requests/barristerRequest.json
  src/main/java/uk/gov/hmcts/reform/prl/clients/ccd/CaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/caseflags/PartyRole.java
  src/main/java/uk/gov/hmcts/reform/prl/models/caseflags/AllPartyFlags.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/FlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/alltabs/AllTabServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGenerator.java
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails_v4.json
  src/test/java/uk/gov/hmcts/reform/prl/clients/ccd/CaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseassignment/CaseAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/caseflags/PartyLevelCaseFlagsGeneratorTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3300

#3308 FPVTL-1116: Fixing doc cat function test
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3308

#3318 FPVTL-1227: fix broken email link for add barrister
  charts/prl-cos/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3318

#3317 FPVTL-1224: FL401 cases without any Barrister, exception when removin…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/PartyLevelCaseFlagsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3317

#3292 FPVTL-1043: Adding tier of judge to Order Collection
  src/main/java/uk/gov/hmcts/reform/prl/models/OrderDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/judicial/FinalisationDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FinalisationDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FinalisationDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3292

#3320 FPVTL-1043: Fix null pointer exceptions for finalisation detials field In Manage Orders
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/FinalisationDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FinalisationDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3320, pr-defs:pr-2920
