Repository hmcts/prl-cos-api, pull requests merged in 2025-06, with the labels that each got.

#3155 FPVTL-126: add confidential markers for other people
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/OtherPersonInTheCase.java
  src/test/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseDataTest.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3155

#3146 FPVTL-679: synch safe time to call
  src/main/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3146

#3147 FPVTL-498: 'Review Language and SM requirements' task update
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerFunctionalTest.java
  src/functionalTest/resources/requests/caseFlags/client_context.json
  src/functionalTest/resources/requests/caseFlags/review-lang-sm-initial.json
  src/functionalTest/resources/requests/caseFlags/review-lang-sm-with-flags.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/AdditionalProperties.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/FlagsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenCaseUpdateService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/FlagsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3147

#3119 FPVTL-497 Review RA request task update
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerFunctionalTest.java
  src/functionalTest/resources/requests/caseFlags/review-lang-sm-initial.json
  src/functionalTest/resources/requests/caseFlags/review-lang-sm-with-flags.json
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/amroles/InternalCaseworkerAmRolesEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/CaseFlagsEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewRaRequestWrapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/CaseFlagsEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3119

#3195 Fix for caseFlag
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3195

#3196 CaseFlag fix
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/caseflags/CaseFlagsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseflags/CaseFlagsWaServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3196

#3166 FPVTL-709
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementControllerFunctionalTest.java
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafcassDocumentManagementController.java
  src/main/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/pin/C100CaseInviteService.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassCdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/noticeofchange/NoticeOfChangePartiesServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3166
