Repository hmcts/prl-cos-api, pull requests merged in 2025-01, with the labels that each got.

#2927 Prl 6791 restrict amend order
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2927

#2935 Functional test fix
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFT.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2935

#2932 PRL-6625, PRL-6627 - Performance test issues fix improvements
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2932

#2740 C8 refuge epic
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ConfidentialityCheckController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataApplicantElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/ApplicantDto.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/common/CitizenDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/citizen/response/confidentiality/KeepDetailsPrivate.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/refuge/RefugeConfidentialDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/tab/summarytab/CaseSummary.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/tab/summarytab/summary/refuge/RefugeCase.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/refuge/RefugeConfidentialDocumentsRecord.java
  src/main/java/uk/gov/hmcts/reform/prl/models/refuge/RefugeDocumentHandlerParameters.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/tab/summary/generator/refuge/RefugeCaseGenerator.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseRevisedChecker.java
  src/main/resources/C100_Dummy_Draft_CaseDetails.json
  src/main/resources/C100_Dummy_Draft_CaseDetails_v3.json
  src/main/resources/C100_Dummy_Draft_admin_CaseDetails.json
  src/main/resources/C100_Dummy_Draft_admin_CaseDetails_v3.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails.json
  src/main/resources/C100_Dummy_Gatekeeping_CaseDetails_v3.json
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ResubmitApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/mapper/citizen/confidentialdetails/ConfidentialDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityC8RefugeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FL401SubmitApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/validators/RespondentContactDetailsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/CaseSummaryTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/tab/summary/generators/refuge/RefugeCaseGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/ApplicantsCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseRevisedCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayCheckerTest.java
  src/test/resources/c100-rebuild/appl.json
  src/test/resources/c100-rebuild/oprs1.json
  src/test/resources/c100-rebuild/oprs2.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2740

#2928 prl-6787/Statement_of_truth_correction_for_Coutnav_case_application_tab
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2928

#2943 FPET-1245-added bin folder to gitignore
  .gitignore
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2943

#2925 prl-6771/missing welsh translations
  src/main/java/uk/gov/hmcts/reform/prl/mapper/welshlang/WelshLangMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2925

#2930 prl-6789/ respondent statement of truth update
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CitizenResponseServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2930

#2944 Fix for manage order not being served issue
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2944

#2958 Added place of birth for other people in the case to the cafcass response
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2947 Added reasonformiamexceptions field to sent to cafcass
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2953 PRL-6806 - Added a new API to fetch fee amount based on application type
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/FeeType.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2953

#2963 Dummy PR for generating artifacts on master pipeline
  README.md
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl

#2882 Feature/restricted case access test feature
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2882

#2908 FPET-1216 C8 changes for other people in the case
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsController.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataChildDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataOtherPersonsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/OtherPersonDetail.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/ChildrenAndOtherPeopleRelation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/applicationtab/ChildAndOtherPeopleRelation.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/confidentiality/OtherPersonConfidentialityDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseRevisedChecker.java
  src/main/resources/C100_citizen_Dummy_CaseDetails.json
  src/test/java/uk/gov/hmcts/reform/prl/controllers/RelationshipsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/citizen/CitizenPartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityTabServiceTest.java
  src/test/resources/c100-rebuild/oprs.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2908

#2972 FPET-1248 other people c8 changes
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/OtherPeopleInTheCaseRevisedChecker.java
Labels: ns:private-law, prd:prl

#2834 RCAM Prod changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2834

#2960 Prl 6821/align confidentiality details
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2962 prl-6845/statement of truth citizen update
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2976 prl-6918/cafcass-issues
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/ApplicantDetails.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2980 Prl 6918/cafcass issues
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
Labels: ns:private-law, prd:prl

#2973 Release 6.0 additional changes
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/caseaccess/RestrictedCaseAccessServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#2984 functional test fix for cos API
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/caseaccess/RestrictedCaseAccessControllerFunctionalTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2984

#2981 FPET-1268 Mutation test fixes
  src/test/java/uk/gov/hmcts/reform/prl/services/FeeServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-2981
