Repository hmcts/prl-cos-api, pull requests merged in 2025-03, with the labels that each got.

#3048 Added loggers for hearing actuals
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdateHearingActualsService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3048

#3051 FPET-1294 appinsights logs issue fix
  Dockerfile
  build.gradle
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3051

#2879 PRL-6579
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm

#3041 FPVTL-80 limit renovate pr count and schedule rebases for after 6pm
  .github/renovate.json
  .github/stale.yml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3041

#3001 Fix Withdraw case event
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWithdrawnRequestService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWitdrawnRequestServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3001

#3023 FPVTL-51-C100 Address known issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CaseDataRespondentDetailsElementsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/citizen/CitizenPartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/c100rebuild/RespondentDetails.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapperTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3023

#3009 FPET-1256
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationController.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/BulkPrintException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/GovUkNotificationException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/InvalidClientException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/ManageOrdersUnsupportedOperationException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/NoCaseDataFoundException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/NoStaffResponseException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/SendGridNotificationException.java
  src/main/java/uk/gov/hmcts/reform/prl/exception/ServiceOfApplicationException.java
  src/main/java/uk/gov/hmcts/reform/prl/framework/exceptions/DocumentGenerationException.java
  src/main/java/uk/gov/hmcts/reform/prl/services/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DgsService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/HearingDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/RefDataUserService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/SendgridService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/hearings/HearingService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ServiceOfApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DgsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RefDataUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendAndReplyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SendgridServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/document/DocumentGenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/hearings/HearingServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3009

#3049 FPVTL-77 respondent C1A's cannot be uploaded to the portal as respondent C1A's - the portal throws up an error - instead need to be uploaded as a respondent statement. INC5691249
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/requests/manage-documents-neitherConfNorRestricted.json
  src/functionalTest/resources/requests/manage-documents-request-with-court-as-party.json
  src/functionalTest/resources/requests/manage-documents-request.json
  src/functionalTest/resources/requests/manage-documents-restricted-admin.json
  src/functionalTest/resources/requests/manage-documents-restricted.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3049

#3042 FPVTL-64: C8 Confidentiality Checks task - Add null check for getOtherPartyInTheCaseRevised
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ConfidentialityCheckServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3042

#2535 prl-5641/edge-cases-new-orders
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/ChildArrangementOrdersEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/DomesticAbuseOrdersEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CommonUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/LocationRefDataServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2535

#3058 revert FPVTL-77
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/functionalTest/resources/requests/manage-documents-neitherConfNorRestricted.json
  src/functionalTest/resources/requests/manage-documents-request-with-court-as-party.json
  src/functionalTest/resources/requests/manage-documents-request.json
  src/functionalTest/resources/requests/manage-documents-restricted-admin.json
  src/functionalTest/resources/requests/manage-documents-restricted.json
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3058

#3053 Feature fpet 1104 fpet 1026
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/controllers/SystemUserRoleAssingmentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/CaseDocumentController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/citizen/FeesAndPaymentCitizenController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/repositories/CcdCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/FL401StatementOfTruthAndSubmitChecker.java
  src/main/java/uk/gov/hmcts/reform/prl/services/validators/SubmitAndPayChecker.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HearingDataServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3053

#3060 PRL-7027 - Fixed manage documents duplicate docs issue
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3060

#3061 Revert "PRL-6999(Removing service and controller classes for sonar exclusions)- Ready for review"
  build.gradle
  charts/prl-cos/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentServiceForSystemUserTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/serviceofdocuments/ServiceOfDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3061

#3056 FPVTL-103 put stale github actions in right path
  .github/stale.yml
  .github/workflows/stale.yml
  charts/prl-cos/values.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3056

#3055 FPVTL-97: 173978873547271017396569787874191739832019355066examples of…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/HwfProcessUpdateCaseStateService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/HwfProcessUpdateCaseStateServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3055

#2966 FPET-1138 renamed templates
  charts/prl-cos/values.preview.template.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/SendAndReplyService.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2966

#3062 PRL-6999(READY FOR MERGE)
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentServiceForSystemUserTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/serviceofdocuments/ServiceOfDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3062

#3035 PRL-7001 - SOA, corrected send grid email template for lip personal service by CA/CB
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3035

#3068 pcq id
  src/main/java/uk/gov/hmcts/reform/prl/mapper/edgecases/DssEdgeCaseDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/edgecases/DssCaseData.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3068

#2781 FPET-1136: Welsh lang requirement- update application page
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-2781

#3030 Welsh ccd translations solicitor
  charts/prl-cos/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/CaseWithdrawnRequestControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/StatementOfServiceControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/editreturnedorder/EditReturnedOrderController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/Event.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/EventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentEventErrorsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/c100respondentsolicitor/RespondentSolicitorEvents.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/C21OrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/manageorders/CreateSelectOrderOptionsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/languagecontext/UserLanguage.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/ClientContext.java
  src/main/java/uk/gov/hmcts/reform/prl/services/CaseWithdrawnRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/FeeAndPayServiceRequestService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/UploadAdditionalApplicationService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorMiamService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/RespondentSolicitorTaskListRenderer.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/ManageOrdersUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/DraftAnOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditAndApproveDraftOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/EditReturnedOrderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/FeeAndPayServiceRequestControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/c100respondentsolicitor/C100RespondentSolicitorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/CaseWitdrawnRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/EditReturnedOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RespondentSolicitorMiamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListRenderElementsTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TaskListRendererTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/c100respondentsolicitor/C100RespondentSolicitorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/resources/fl401-task-list-resubmit.md
  src/test/resources/task-list-allegations-revised-no-errors.md
  src/test/resources/task-list-markdown-v2.md
  src/test/resources/task-list-markdown.md
  src/test/resources/task-list-no-errors.md
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3030

#3070 Sonar and code coverage(Ready for merge)
  build.gradle
  src/test/java/uk/gov/hmcts/reform/prl/controllers/Fm5ReminderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/handlers/NoticeOfChangeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/RespondentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/rpa/mappers/json/NullAwareJsonObjectBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/Fm5NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/RoleAssignmentServiceForSystemUserTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationPostServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ServiceOfApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/StmtOfServImplServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/citizen/CaseServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/serviceofdocuments/ServiceOfDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3070
