Repository hmcts/prl-cos-api, pull requests merged in 2025-04, with the labels that each got.

#3088 FPVTL-409 fix concat
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseData.java
  src/test/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/CafCassCaseDataTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3088

#3095 FPVTL-527 Add logs to cafcass response
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CaseDataService.java
  src/test/resources/response/CafCaasResponse.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3095

#3097 FPVTL-503 Cafcass api null hearingNums
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/cafcass/manageorder/CaseOrder.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3097

#3092 FPVTL-68 pathfinder
  README.md
  charts/prl-cos/values.preview.template.yaml
  docker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/prl/clients/bundle/CreateBundleConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/prl/constants/ManageDocumentsCategoryConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/cafcass/CafCassController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/ManageDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/CafcassReportsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/DocTypeOtherDocumentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/bundle/BundlingDocGroupEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/managedocuments/CafcassReportAndGuardianEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/sdo/SdoCafcassOrCymruEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/CafcassCymruDocumentsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/bundle/BundleCreateRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/QuarantineLegalDoc.java
  src/main/java/uk/gov/hmcts/reform/prl/services/DraftAnOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocService.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/services/cafcass/CafcassUploadDocServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3092

#3101 FPVTL-68 add back childImpactReport
  src/main/java/uk/gov/hmcts/reform/prl/enums/serveorder/CafcassCymruDocumentsEnum.java
  src/main/resources/application.yaml
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3101

#3103 FPVTL-550 fix null pointer exception
  src/main/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/SolicitorEmailServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3103

#3108 Upgrade dependencies to fix CVE-2024-45772 & CVE-2025-25193
  build.gradle
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3108, enable-prl-e2e-tests

#3110 FPVTL-509 npe Familyhome
  src/main/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/courtnav/CourtNavCaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/courtnav/mappers/FL401ApplicationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ApplicationsTabServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3110

#3093 FPVTL-491: Copy applicant 'id' into 'partyId' on case creation to meet CAFCASS API Spec
  .gitignore
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/UpdatePartyDetailsService.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3093

#3117 FPVTL-592
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/services/TestingSupportService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/TestingSupportServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3117

#3116 FPVTL-551 put back the async call on notifications
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/ManageDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3116

#3090 FPVTL-487: Add Screen for Capturing 'Title of the Judge' in Upload Or…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3090

#3099 FPVTL-488: Add Screen for Capturing 'Title of the Judge' in Upload Or…
  charts/prl-cos/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-cos-pr-3099
