Repository hmcts/prl-cos-api, pull requests merged in 2025-07, with the labels that each got.

#3167 FPVTL-493: Auto completing the 'Hearing has been listed' task using the 'Notice of proceeding' event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/prl/constants/PrlAppsConstants.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersController.java
  src/main/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/prl/enums/ManageOrderFieldsEnum.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/HearingData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/hearings/Hearings.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/AdditionalProperties.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/ClientContext.java
  src/main/java/uk/gov/hmcts/reform/prl/models/wa/UserTask.java
  src/main/java/uk/gov/hmcts/reform/prl/services/ManageOrderService.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/CaseUtils.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/ManageOrdersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/testingsupport/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/ManageOrderServiceTest.java
  src/test/java/uk/gov/hmcts/reform/prl/utils/CaseUtilsTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3167

#3209 update and remove log lines for hmc changes testing
  src/main/java/uk/gov/hmcts/reform/prl/services/Fm5ReminderService.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3209

#3215 FPVTL-914-Fix pitest issue
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3215

#3218 FPVTL-916 Revert renovate pitest upgrade
  build.gradle
Labels: ns:private-law, prd:prl, nightly, rel:prl-cos-pr-3218

#3191 FPVTL-8: Remove documents event
  src/main/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/RemoveDocumentsController.java
  src/main/java/uk/gov/hmcts/reform/prl/models/complextypes/RemovableDocument.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/BaseCaseData.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/DocumentManagementDetails.java
  src/main/java/uk/gov/hmcts/reform/prl/models/dto/ccd/ReviewDocuments.java
  src/main/java/uk/gov/hmcts/reform/prl/services/managedocuments/RemoveDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/prl/controllers/managedocuments/RemoveDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/prl/services/managedocuments/RemoveDocumentsServiceTest.java
Labels: ns:private-law, prd:prl, enable_keep_helm, aat/no-changes, prod/no-changes, rel:prl-cos-pr-3191

#3230 FPVTL-762: Disable AUTO_CLOSE_JSON_CONTENT
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/prl/ServiceContextConfiguration.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/prl/mapper/AppObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/mapper/CcdObjectMapper.java
  src/main/java/uk/gov/hmcts/reform/prl/utils/verifiers/JacksonConfigurationVerifier.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/prl/utils/verifiers/JacksonConfigurationVerifierTest.java
Labels: ns:private-law, prd:prl, rel:prl-cos-pr-3230
